@mixin trunkContentLeft($prefix) {
	0% {
		-webkit-transform: translate3d(65%,0,0);
		-moz-transform: translate3d(65%,0,0);
		transform: translate3d(65%,0,0);
	}
	100% {
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes trunkContentLeft { @include trunkContentLeft(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes trunkContentLeft { @include trunkContentLeft(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes trunkContentLeft { @include trunkContentLeft(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes trunkContentLeft { @include trunkContentLeft(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes trunkContentLeft { @include trunkContentLeft(o); }
}
@keyframes trunkContentLeft { @include trunkContentLeft(none); }

.trunkContentLeft {
  @include animation-name(trunkContentLeft);
}