/* fonts  */

$heading-font: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
$normal-font: "Open Sans", sans-serif;

/* font weight */
$heading-font-thin: 100;
$heading-font-extra-light: 200;
$heading-font-light: 300;
$heading-font-normal: 400;
$heading-font-medium: 500;
$heading-font-semi-bold: 600;
$heading-font-bold: 700;

$normal-font-light: 300;
$normal-font-normal: 400;
$normal-font-semi-bold: 600;
$normal-font-bold: 700;

/* default typography */
$default-font-size: 0.875 * $base-font-size !default;
$default-text-color: $dark-gray;

body {
	text-rendering: optimizeLegibility;
	-webkit-text-stroke: 1px transparent;
	-webkit-font-smoothing: antialiased;
	color: $default-text-color;
	font-family: $normal-font;
	font-weight: $normal-font-normal;
	//font-size: $default-font-size;
	font-size: 1em;
	//line-height: $base-line-height;
	line-height: 1;
	letter-spacing: 0;

	@include desktop-and-beyond {
		font-size: 1.2em;
	}

	@include tablet-portrait-and-below {
		//font-size: .94em;
	}

	@include mobile-landscape-and-below {
		//font-size: .7em;
	}
}

/* headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
	color: $dark;
	margin: 0;
}

h1, h2 {
	font-family: $heading-font;
	line-height: 1.1em;
}

h1 {
	//font-size: $h1-font-size / 1.5;
	font-weight: $heading-font-extra-light;
	font-size: 2.5em;
	margin-bottom: .5em;

	@include tablet-portrait-and-up {
		font-size: 3em;
		margin-bottom: .75em;
	}
}

h2 {
	//font-size: $h2-font-size / 1.5;
	font-weight: $heading-font-normal;
	font-size: 1.4em;
	line-height: 1em;
}

h3{
	font-family: $normal-font;
	font-weight:  $normal-font-bold;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.07em;

	@include mobile-landscape-and-below {
		//font-size: 1.4em;
	}
}

h4, h5, h6 {
	font-weight: $normal-font-normal;
}

h4{
	//font-size: $h5-font-size;
	font-size: 0.875em;
}

h5{
	//font-size: $h5-font-size;
	text-transform: uppercase;
	font-size: 0.875em;
}

h6{
	//font-size: $h6-font-size;
	font-size: 0.875em;
}

p {
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: 0.03em;
	margin-bottom: 0.5em;
	margin-top: 0;
}

p a {
	text-decoration: none;
	color: inherit;
	outline: 0;
	padding-bottom: 2px;
	border-bottom: 1px dotted;
	border-bottom-color: inherit;

	&:hover:not(.button){
		border-bottom: 1px solid;
	}
}

blockquote{
	font-size: $h2-font-size;
	line-height: $font-size * 3; // 32 / 16;
	font-weight: $normal-font-light;
	font-style: italic;
	font-family: $normal-font;
	margin: 1em;
	text-align: center;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: $heading-font-bold;
}

button, .button, input[type=button], h3{
	-webkit-font-smoothing: subpixel-antialiased;
}

/* section specific styles
   ========================================================================== */

#services p {
	font-size: 1em;
	@media only screen and (min-width: 1440px) {
		font-size: 1.2em;
	}
}

#careers p,
#clients p,
#team p {
	font-size: 1em;

	@include tablet-landscape-and-up {
		font-size: 1.2em;
	}
}
