/* compass defaults
   ========================================================================== */

/* Normalize setup
   ========================================================================== */

$font-size: 16px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// The base font size.
$base-font-size: $font-size !default; // Overrides default set in Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: $font-size * 1.3125; //21 / 16	// Overrides default set in Vertical Rhythm partial.

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// The default font family. You should set $base-font-family in your _base partial.
$base-font-family: $font-family !default;

// The font sizes for h1-h6. You should set these variables in your _base partial.

$h1-font-size: 3   	 	* $base-font-size !default; // 48 / 16
$h2-font-size: 3  		* $base-font-size !default; // 48 / 16
$h3-font-size: 1.5 		* $base-font-size !default; // 24 / 16
$h4-font-size: 1.125 	* $base-font-size !default; // 18 / 16
$h5-font-size: 1 		* $base-font-size !default; // 14 / 16
$h6-font-size: 0.875 	* $base-font-size !default;	// 12 / 16

$default-button-font-size: 0.8125rem; // 13/16

// Setting this to false will result in smaller output, but no support for ie6 hacks.
$legacy-support-for-ie6: false; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
$legacy-support-for-ie7: false; // Overrides default set in Support partial.


/* Colors
   ========================================================================== */

$grapefruit: #ed5565;
$grapefruit-dark: #da4465;

$bittersweet: #fc6e51;
$bittersweet-dark: #e9573f;

$sunflower: #ffce54;
$sunflower-dark: #f6bb42;

$grass:#a0d468;
$grass-dark:#8cc152;

$mint:#48cfad;
$mint-dark:#37bc9b;

$aqua:#4fc1e9;
$aqua-dark:#3bafda;

$blue-jeans:#5d9cec;
$blue-jeans-dark: #4a89dc;

$lavander:#ac92ec;
$lavander-dark: #967adc;

$pink-rose:#ec87c0;
$pink-rose-dark:#d770ad;

$deep-blue: #041720; // section and header background color

$light-gray:#f5f7fa;
$light-gray-dark: #e6e9ed;

$medium-gray:#ccd1d9;
$medium-gray-dark: #aab2bd;

$dark-gray:#656d78;
$dark-gray-dark:#434a54;

$light: #fefefd;
$dark: #18292a;
$dark: rgb(24, 41, 42);

$location-blue: #2ea2fd; //#38a0e9;
$ios-blue: #007aff;
$ios-blue-pale: #2ea2fd;

$base-background-color: $light;

/* Gradients
   ========================================================================== */
//$gradient-stomp-default: linear-gradient( top, rgba(110,204,218,1) 0%, rgba(3,178,166,1) 19%, rgba(111,183,115,1) 77%, rgba(135,179,87,1) 100%);
$gradient-stomp-default: linear-gradient(top, rgba(24,190,188,1) 0%, rgba(71,197,187,1) 19%, rgba(111,183,115,1) 77%, rgba(135,179,87,1) 100%);
$gradient-sunset: linear-gradient( left top, rgba(32,96,124,1) 0%, rgba(51,130,144,1) 57%, rgba(128,178,158,1) 80%, rgba(176,180,142,1) 100%);
$gradient-grapefruit-pink-rose: linear-gradient( left top, rgba(218,68,83,1) 0%, rgba(218,68,83,1) 45%, rgba(215,112,174,1) 100%);
$gradient-dark: linear-gradient( left top, rgba(50, 55, 60,1) 0%, rgba(50, 55, 60,1) 100%);
$gradient-blue-jeans: linear-gradient( top, rgba(74,137,220,1) 0%, rgba(79,192,233,1) 100%);

/* Default button colors
   ========================================================================== */

$button-border-color: rgba(255, 255, 255, .9);
$button-border-color-dark: rgba(67, 74, 84, .9);
$button-text-color: rgba(255, 255, 255, 1);
$button-text-color-dark: rgba(67, 74, 84, 1);

/* Z-indices
   ========================================================================== */

	/*
		example (Open for review):
		section {
			position: relative;
			z-index: $z-index-section;

			p {
				position: absolute;
				z-index: z-section + 1;
			}
		}


	*/

	$z-index-base: 0;
	$z-index-section: 100;
	$z-index-nav: 200;


