body, html, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

html {
	font-family: Helvetica neue, Helvetica, Arial, sans-serif;
	line-height: 1.3;
	padding-bottom: 200px;
	color: #333;
}

h1 {
	line-height: 1.1;
	font-weight: normal;
	font-size: 32px;
	margin: 0 0 6px;
	margin: 0 0 .2em;
}

p {
	font-size: 19px;
}
	
.header{
	width: 100%;
	background: silver url(../media/fallback/header.jpg) no-repeat center top fixed;
	height: 300px;
	position: relative;

	h1, h2 {
		text-indent: -9999px;
	}

	a.contact {
		background: white;
		color: inherit;
		text-decoration: none;
		text-align: center;
		display: inline;
		width: auto;
		padding: 6px 10px 12px; 
		position: absolute;
		left: 20px;
		top: 20px;

		&:hover, &:focus {
			color: blue;
		}
	}

}

.article, .section {
	width: 760px;
	margin: 40px auto 0;

	h1, p {
		padding: 0 20px;
	}

	p {
		margin: 0 0 16px;
		margin: 0 0 1em;
	}

	ul.alternatives {
		
		width: 790px;
		margin: 10px auto;
		overflow: hidden;


		li {
			background: white;
			list-style: none;
			float: left;
			width: 250px;
			margin: 0 0 0 10px;
			padding: 10px 0 20px;
			
		}
		
		a {
			background: blue;
			color: white;
			text-decoration: none;
			text-align: center;
			display: block;
			padding: 6px 0 10px;
			font-size: 14px;

			&:hover, &:focus {
				background: navy;
			}
		}

		img {
			margin: 0 auto;
			width: 158px;
			height: 158px;
			display: block;
			margin-bottom: 20px;
		}
	}
}

.section {
	width: 100%;
	// background: #0d242f;
	// border-top: 1px solid #eee;
	// border-bottom: 1px solid #bbb;

	h1 {
		font-size: 26px;
	}

	p {
		font-size: 17px;
	}
}