/* ==========================================================================
	 buttons
	 ========================================================================== */
	 /* Layout
   ========================================================================== */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button, input[type="button"], button {

	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@include background-clip(padding-box);
	@include box-sizing(border-box);

	@include transition(background-color 0.25s ease-out);

	display: inline-block;
	padding: 16px 20px;
	min-width: 119px;
	outline: 0;

	&.sub {
		padding: 4px 8px 0px 8px;
	}

	&.full-width {
		width: 100%;
	}

	&.full-height {
		height: 100%;
	}

	&.full-height::before {
		content: " ";
		display: block;
		height: 43%;
	}

	.icon {

		float: left;

		padding:0;
		//margin: 4px 10px 0px -2px;
		margin: 1px 0 0 0;

		&.top {
			margin: 8px auto;
			clear: both;
			float: none;
		}
	}

	span{
		position: relative;
	}

	&:hover, &:active {
		text-decoration: none;

		.icon {
			&.arrow-left{
				@include sprite(arrow-left-blue);

				@include mobile-landscape-and-below{
					@include sprite(arrow-left-blue-mobile);
				}
			}


			&.arrow-right{
				@include sprite(arrow-right-pink);

				@include mobile-landscape-and-below{
					@include sprite(arrow-right-pink-mobile);
				}
			}

			&.directions{
				@include sprite(location-directions-desktop-active);
			}
			&.vcard{
				@include sprite(location-vcard-desktop-active);
			}
			&.mail{
				@include sprite(location-mail-desktop-active);
			}

			&.mail-smartphone{
				@include sprite(location-mail-smartphone-active);
			}
			&.phone-smartphone{
				@include sprite(location-phone-smartphone-active);
			}
			&.directions-smartphone{
				@include sprite(location-directions-smartphone-active);
			}
			&.vcard-smartphone{
				@include sprite(location-vcard-smartphone-active);
			}
		}
	}
}

.icon {

	&.arrow-left{
		@include sprite(arrow-left);

		@include mobile-landscape-and-below{
			@include sprite(arrow-left-mobile);
		}
	}

	&.arrow-right{
		@include sprite(arrow-right);

		@include mobile-landscape-and-below{
			@include sprite(arrow-right-mobile);
		}
	}

	&.mail {
		@include sprite(location-mail-desktop-link);
	}

	&.vcard {
		@include sprite(location-vcard-desktop-link);
	}

	&.directions {
		@include sprite(location-directions-desktop-link);
	}

	&.mail-smartphone{
		@include sprite(location-mail-smartphone-link);
	}

	&.phone-smartphone{
		@include sprite(location-phone-smartphone-link);
	}

	&.directions-smartphone{
		@include sprite(location-directions-smartphone-link);
	}

	&.vcard-smartphone{
		@include sprite(location-vcard-smartphone-link);
	}
}

.toggle-button{
	width: 100%;

	li{
		float: left;
		width: 50%;
		margin: 0;

		&:nth-of-type(2){

			.button { border-left: 0px; }

		}
	}
}

/* Colors
   ========================================================================== */

 .button, input[type="button"], button {
 	background: transparent;
	border: 1px solid $button-border-color;

	&.dark {
		border: 1px solid $button-border-color-dark;
	}

	&.light 		{ border-color: $light; }
	&.dark 			{ border-color: $dark; }
	&.grapefruit 	{ border-color: $grapefruit-dark; }
	&.bittersweet 	{ border-color: $bittersweet-dark; }
	&.sunflower 	{ border-color: $sunflower-dark; }
	&.grass 		{ border-color: $grass-dark; }
	&.mint 			{ border-color: $mint-dark; }
	&.aqua 			{ border-color: $aqua-dark; }
	&.blue-jeans	{ border-color: $blue-jeans-dark; }
	&.lavander 		{ border-color: $lavander-dark; }
	&.pink-rose 	{ border-color: $pink-rose-dark; }
	&.light-gray 	{ border-color: $light-gray-dark; }
	&.medium-gray 	{ border-color: $medium-gray-dark; }
	&.dark-gray 	{ border-color: $dark-gray-dark; }
	&.location-blue { border-color: $location-blue; }
	&.ios-blue 		{ border-color: $ios-blue; }
	&.ios-blue-pale { border-color: $ios-blue-pale; }

	&.mask {
		transition: none;
		span {
			@include background-image(none);
		}
	}

	&:hover, &:active, &.active {
		background: $button-text-color;

		border-color: rgba($button-border-color, 0);

		&.mask span{

			-webkit-text-fill-color: transparent;
			-moz-text-fill-color: transparent;
			-o-text-fill-color: transparent;
			-ms-text-fill-color: transparent;
			text-fill-color: transparent;

			@include background-clip(text);

			/*
			   all gradient background image options go here
			   which is lame cause their already in _colors.scss
			   but we need this hack for hover state on captions in .button span
			   as we transparentized the background property in normal (link) state
			   blahblah; keertje over hebben; moet ander kunnen
			*/
			&.gradient {
				&.stomp-default {
					@include background-image($gradient-stomp-default);
				}
				&.grapefruit-pink-rose {
					@include background-image($gradient-grapefruit-pink-rose);
				}
				&.sunset {
					@include background-image($gradient-sunset);
				}
				&.dark {
					@include background-image($gradient-dark);
				}
			}
		}
	}

	&.fill, &.active, &:hover, &:active {
		border-color: rgba($button-border-color, 0);

		&.light 		{ background: $light; }
		&.dark 			{ background: $dark; }
		&.grapefruit 	{ background: $grapefruit-dark; }
		&.bittersweet 	{ background: $bittersweet-dark; }
		&.sunflower 	{ background: $sunflower-dark; }
		&.grass 		{ background: $grass-dark; }
		&.mint 			{ background: $mint-dark; }
		&.aqua 			{ background: $aqua-dark; }
		&.blue-jeans	{ background: $blue-jeans-dark; }
		&.lavander 		{ background: $lavander-dark; }
		&.pink-rose 	{ background: $pink-rose-dark; }
		&.light-gray 	{ background: $light-gray-dark; }
		&.medium-gray 	{ background: $medium-gray-dark; }
		&.dark-gray 	{ background: $dark-gray-dark; }
		&.location-blue { background: $location-blue; }
		&.ios-blue 		{ background: $ios-blue; }
		&.ios-blue-pale { background: $ios-blue-pale; }
	}

	&.gradient {
		@include transition(all 0.25s ease-out);

		border-color: rgba($button-border-color, 0);

		&.stomp-default {
			background: $mint;
			@include background-image($gradient-stomp-default);
		}
		&.grapefruit-pink-rose {
			background: $grapefruit;
			@include background-image($gradient-grapefruit-pink-rose);
		}
		&.sunset {
			background: $bittersweet;
			@include background-image($gradient-sunset);
		}
		&.dark {
			background: $dark;
			@include background-image($gradient-dark);
		}

		&:hover, &:active {
			background: transparent;

			&.stomp-default {
				border-color: $mint;
				color: $mint;
			}
			&.grapefruit-pink-rose {
				border-color: $grapefruit;
				color: $grapefruit;
			}
			&.sunset {
				border-color: rgba(32,96,124,1);
				color: rgba(32,96,124,1);
			}
			&.dark {
				border-color: $dark;
				color:$dark;
			}
		}
	}

	&.fill{
		&:hover, &:active {
			background: transparent;

			&.light 		{ border-color: $light; }
			&.dark 			{ border-color: $dark; }
			&.grapefruit 	{ border-color: $grapefruit-dark; }
			&.bittersweet 	{ border-color: $bittersweet-dark; }
			&.sunflower 	{ border-color: $sunflower-dark; }
			&.grass 		{ border-color: $grass-dark; }
			&.mint 			{ border-color: $mint-dark; }
			&.aqua 			{ border-color: $aqua-dark; }
			&.blue-jeans	{ border-color: $blue-jeans-dark; }
			&.lavander 		{ border-color: $lavander-dark; }
			&.pink-rose 	{ border-color: $pink-rose-dark; }
			&.light-gray 	{ border-color: $light-gray-dark; }
			&.medium-gray 	{ border-color: $medium-gray-dark; }
			&.dark-gray 	{ border-color: $dark-gray-dark; }
			&.location-blue { border-color: $location-blue; }
			&.ios-blue 		{ border-color: $ios-blue; }
			&.ios-blue-pale { border-color: $ios-blue-pale; }
		}
	}

	// Color options

	color: $button-text-color;

	&.dark 			{ color: $button-text-color-dark; }
	&.light 		{ color: $light; }
	&.dark 			{ color: $dark; }
	&.grapefruit 	{ color: $grapefruit-dark; }
	&.bittersweet 	{ color: $bittersweet-dark; }
	&.sunflower 	{ color: $sunflower-dark; }
	&.grass 		{ color: $grass-dark; }
	&.mint 			{ color: $mint-dark; }
	&.aqua 			{ color: $aqua-dark; }
	&.blue-jeans	{ color: $blue-jeans-dark; }
	&.lavander 		{ color: $lavander-dark; }
	&.pink-rose 	{ color: $pink-rose-dark; }
	&.light-gray 	{ color: $medium-gray-dark; }
	&.medium-gray 	{ color: $medium-gray-dark; }
	&.dark-gray 	{ color: $dark-gray-dark; }
	&.location-blue { color: $location-blue; }
	&.ios-blue 		{ color: $ios-blue; }
	&.ios-blue-pale { color: $ios-blue-pale; }

	&:hover, &:active, &.active{
		color: $button-text-color-dark;

		&.dark,
		&.grapefruit,
		&.bittersweet,
		&.sunflower,
		&.grass,
		&.mint,
		&.aqua,
		&.blue-jeans,
		&.location-blue,
		&.ios-blue,
		&.ios-blue-pale,
		&.lavander,
		&.pink-rose,
		&.medium-gray,
		&.dark-gray {
			color: $button-text-color;
		}
		&.light-gray, &.light {
			color: $dark-gray-dark;
		}
	}

	&.fill {
		color: $button-text-color;
		&.light-gray, &.light {
			color: $dark-gray-dark;
		}

		&:hover, &:active {
			&.dark 			{ color: $button-text-color-dark; }
			&.light 		{ color: $light; }
			&.dark 			{ color: $dark; }
			&.grapefruit 	{ color: $grapefruit-dark; }
			&.bittersweet 	{ color: $bittersweet-dark; }
			&.sunflower 	{ color: $sunflower-dark; }
			&.grass 		{ color: $grass-dark; }
			&.mint 			{ color: $mint-dark; }
			&.aqua 			{ color: $aqua-dark; }
			&.blue-jeans	{ color: $blue-jeans-dark; }
			&.lavander 		{ color: $lavander-dark; }
			&.pink-rose 	{ color: $pink-rose-dark; }
			&.light-gray 	{ color: $dark-gray-dark; }
			&.medium-gray 	{ color: $medium-gray-dark; }
			&.dark-gray 	{ color: $dark-gray-dark; }
			&.location-blue { color: $location-blue; }
			&.ios-blue 		{ color: $ios-blue; }
			&.ios-blue-pale { color: $ios-blue-pale; }
		}
	}
}

/* Typography
   ========================================================================== */

.button, input[type="button"], button {

	font-size: $default-button-font-size;
	font-weight: $normal-font-semi-bold;
	line-height: 1.5;

	letter-spacing: 0.125rem;
	text-align: center;

	text-decoration: none;
	text-transform: uppercase;

	&.sub {
		font-size: 0.6875rem; //11/16
		font-weight: 400;
		letter-spacing: 0.05rem;
	}
}

.outer-caption {
	text-transform: uppercase;
	font-size: $default-button-font-size * 0.85;
	font-weight: $normal-font;
	letter-spacing: 0.05rem;
	color: inherit;
}

/* Social
   ========================================================================== */
.social .button, .social.button {

	@include transition(none);
	width: 44px;
	min-width: 44px;
	max-width: 44px;

	height: 44px;
	min-height: 44px;
	max-height: 44px;

	@include border-radius(100%);
	@include box-sizing(content-box);

	padding: 0;

	text-indent: -9999px;
	display: inline-block !important;

	border:2px solid rgba(255, 255, 255, 0.85);

	&:hover {
		border-color: rgba(255, 255, 255, 0);

		background: transparent;
		@include box-shadow(0 0 1px rgba(255, 255, 255, 0), 0 0 1px rgba(255, 255, 255, 0));
	}
}

.touch {
	.social .button, .social.button {
		border-width: 1px;
	}
}

.button {
	&.behance{
		@include sprite(social-behance-link);

		&:hover, &:active{
			@include sprite(social-behance-active);
		}
	}

	&.dribbble{
		@include sprite(social-dribbble-link);

		&:hover, &:active{
			@include sprite(social-dribbble-active);
		}
	}

	&.facebook{
		@include sprite(social-facebook-link);

		&:hover, &:active{
			@include sprite(social-facebook-active);
		}
	}

	&.github{
		@include sprite(social-github-link);

		&:hover, &:active{
			@include sprite(social-github-active);
		}
	}

	&.googleplus{
		@include sprite(social-googleplus-link);

		&:hover, &:active{
			@include sprite(social-googleplus-active);
		}
	}

	&.linkedin{
		@include sprite(social-linkedin-link);

		&:hover, &:active{
			@include sprite(social-linkedin-active);
		}
	}

	&.mail{
		@include sprite(social-mail-link);

		&:hover, &:active{
			@include sprite(social-mail-active);
		}
	}

	&.tumblr{
		@include sprite(social-tumblr-link);

		&:hover, &:active{
			@include sprite(social-tumblr-active);
		}
	}

	&.twitter{
		@include sprite(social-twitter-link);

		&:hover, &:active{
			@include sprite(social-twitter-active);
		}
	}
}

#team .button {

	border-color: rgba(255, 255, 255, 0);
	opacity: 0.5;
	@include transition(opacity 0.25s ease-out);

	&:hover, &:active{
		opacity: 1;
	}

	&.behance{
		&:hover, &:active{
			@include sprite(social-behance-link);
		}
	}

	&.dribbble{


		&:hover, &:active{
			@include sprite(social-dribbble-link);
		}
	}

	&.facebook{


		&:hover, &:active{
			@include sprite(social-facebook-link);
		}
	}

	&.github{


		&:hover, &:active{
			@include sprite(social-github-link);
		}
	}

	&.googleplus{


		&:hover, &:active{
			@include sprite(social-googleplus-link);
		}
	}

	&.linkedin{


		&:hover, &:active{
			@include sprite(social-linkedin-link);
		}
	}

	&.mail{


		&:hover, &:active{
			@include sprite(social-mail-link);
		}
	}

	&.tumblr{


		&:hover, &:active{
			@include sprite(social-tumblr-link);
		}
	}

	&.twitter{


		&:hover, &:active{
			@include sprite(social-twitter-link);
		}
	}
}

a {
	&.dark 			{ color: $button-text-color-dark;}
	&.light 		{ color: $light; }
	&.dark 			{ color: $dark; }
	&.grapefruit 	{ color: $grapefruit-dark; }
	&.bittersweet 	{ color: $bittersweet-dark; }
	&.sunflower 	{ color: $sunflower-dark; }
	&.grass 		{ color: $grass-dark; }
	&.mint 			{ color: $mint-dark; }
	&.aqua 			{ color: $aqua-dark; }
	&.blue-jeans	{ color: $blue-jeans-dark; }
	&.lavander 		{ color: $lavander-dark; }
	&.pink-rose 	{ color: $pink-rose-dark; }
	&.light-gray 	{ color: $dark-gray-dark; }
	&.medium-gray 	{ color: $medium-gray-dark; }
	&.dark-gray 	{ color: $dark-gray-dark; }
	&.location-blue { color: $location-blue; }
	&.ios-blue 		{ color: $ios-blue; }
	&.ios-blue-pale { color: $ios-blue-pale; }

	&.dark 			{ border-bottom-color: $button-text-color-dark;}
	&.light 		{ border-bottom-color: $light; }
	&.dark 			{ border-bottom-color: $dark; }
	&.grapefruit 	{ border-bottom-color: $grapefruit-dark; }
	&.bittersweet 	{ border-bottom-color: $bittersweet-dark; }
	&.sunflower 	{ border-bottom-color: $sunflower-dark; }
	&.grass 		{ border-bottom-color: $grass-dark; }
	&.mint 			{ border-bottom-color: $mint-dark; }
	&.aqua 			{ border-bottom-color: $aqua-dark; }
	&.blue-jeans	{ border-bottom-color: $blue-jeans-dark; }
	&.lavander 		{ border-bottom-color: $lavander-dark; }
	&.pink-rose 	{ border-bottom-color: $pink-rose-dark; }
	&.medium-gray 	{ border-bottom-color: $medium-gray-dark; }
	&.medium-gray 	{ border-bottom-color: $medium-gray-dark; }
	&.light-gray 	{ border-bottom-color: $dark-gray-dark; }
	&.medium-gray 	{ border-bottom-color: $medium-gray-dark; }
	&.medium-gray 	{ border-bottom-color: $medium-gray-dark; }
	&.medium-gray 	{ border-bottom-color: $medium-gray-dark; }
	&.dark-gray 	{ border-bottom-color: $dark-gray-dark; }
	&.location-blue { border-bottom-color: $location-blue; }
	&.ios-blue 		{ border-bottom-color: $ios-blue; }
	&.ios-blue-pale { border-bottom-color: $ios-blue-pale; }
}









