.classSelector {
	position: absolute;
	top:0;
	width: 100%;
	min-height: 20px;
	background:$grapefruit;
	z-index: 1001;
	padding: 0 20px;
	@include tablet-portrait-and-up {
		height: 50px;
	}

	p {
		margin: 10px 0;
		color: #fff;
		float: left;
		font-weight: $normal-font-semi-bold;
		@include tablet-portrait-and-up {
			margin: 0 20px 0 0;
			line-height: 50px;
		}
	}

	select {
		margin: 0 0 10px 0;
		float: left;
		line-height: 50px;

		@include tablet-portrait-and-up {
			margin: 17px 20px 0 0;
			line-height: 50px;
		}
	}

	a {
		margin: 0 10px 0 0;
		line-height: 50px;
		color: #fff;
		font-weight: $normal-font-normal;

		&:hover {
			border-bottom: 1px solid #fff;
		}
	}
}