/* Color themes
   ========================================================================== */
* {
	/* Solid color fill background styles for block elements
   	   ========================================================================== */
	[data-fill ="light"]{ background: $light; }
	[data-fill ="dark"] { background: $dark; }
	[data-fill ="grapefruit"] { background: $grapefruit; }
	[data-fill ="grapefruit-dark"] { background: $grapefruit-dark; }
	[data-fill ="bittersweet"] { background: $bittersweet; }
	[data-fill ="bittersweet-dark"] { background: $bittersweet-dark; }
	[data-fill ="sunflower"] { background: $sunflower; }
	[data-fill ="sunflower-dark"] { background: $sunflower-dark; }
	[data-fill ="grass"] { background: $grass; }
	[data-fill ="grass-dark"] { background: $grass-dark; }
	[data-fill ="mint"] { background: $mint; }
	[data-fill ="mint-dark"] { background: $mint-dark; }
	[data-fill ="aqua"] { background: $aqua; }
	[data-fill ="aqua-dark"] { background: $aqua-dark; }
	[data-fill ="blue-jeans"] { background: $blue-jeans; }
	[data-fill ="blue-jeans-dark"] { background: $blue-jeans-dark; }
	[data-fill ="lavander"] { background: $lavander; }
	[data-fill ="lavander-dark"] { background: $lavander-dark; }
	[data-fill ="pink-rose"] { background: $pink-rose; }
	[data-fill ="pink-rose-dark"] { background: $pink-rose-dark; }
	[data-fill ="light-gray"] { background: $light-gray; }
	[data-fill ="light-gray-dark"] { background: $light-gray-dark; }
	[data-fill ="medium-gray"] { background: $medium-gray; }
	[data-fill ="medium-gray-dark"] { background: $medium-gray-dark; }
	[data-fill ="dark-gray"] { background: $dark-gray; }
	[data-fill ="dark-gray-dark"] { background: $dark-gray-dark; }

	/* Gradient fill background styles for block elements
	   ========================================================================== */
	[data-fill ="gradient-stomp-default"]{ @include background-image($gradient-stomp-default); }
	[data-fill ="gradient-sunset"] { @include background-image($gradient-sunset); }
	[data-fill ="gradient-grapefruit-pink-rose"] { @include background-image($gradient-grapefruit-pink-rose); }
	//TODO Michel: add all gradients here

	/* Theme colors for text. Add class .theme [.color] to a parent block element and
	   and all text elements should inherit
	   ========================================================================== */
	[data-theme="light"] { color: $light; h1, h2, h3, h4, h5, h6 { color: $light; }}
	[data-theme="dark"] { color: $dark; h1, h2, h3, h4, h5, h6 { color: $dark; }}
	[data-theme="bittersweet"] { color: $bittersweet-dark; h1, h2, h3, h4, h5, h6 { color: $bittersweet-dark; }}
	[data-theme="sunflower"] { color: $sunflower-dark; h1, h2, h3, h4, h5, h6 { color: $sunflower-dark; }}
	[data-theme="grass"] { color: $grass-dark; h1, h2, h3, h4, h5, h6 { color: $grass-dark; }}
	[data-theme="mint"] { color: $mint-dark; h1, h2, h3, h4, h5, h6 { color: $mint-dark; }}
	[data-theme="aqua"] { color: $aqua-dark; h1, h2, h3, h4, h5, h6 { color: $aqua-dark; }}
	[data-theme="lavander"] { color: $lavander-dark; h1, h2, h3, h4, h5, h6 { color: $lavander-dark; }}
	[data-theme="pink-rose"] { color: $pink-rose-dark; h1, h2, h3, h4, h5, h6 { color: $pink-rose-dark; }}
	[data-theme="light-gray"] { color: $light-gray-dark; h1, h2, h3, h4, h5, h6 { color: $light-gray-dark; }}
	[data-theme="medium-gray"] { color: $medium-gray-dark; h1, h2, h3, h4, h5, h6 { color: $medium-gray-dark; }}
	[data-theme="dark-gray"] { color: $dark-gray-dark; h1, h2, h3, h4, h5, h6 { color: $dark-gray-dark; }}

	/* Heading theme colors for text. Add class .theme [.color] to a parent block element and
	   and all headings elements should inherit
	   ========================================================================== */
	[data-heading-theme="light"] { h1, h2, h3, h4, h5, h6 { color: $light; }}
	[data-heading-theme="dark"] { h1, h2, h3, h4, h5, h6 { color: $dark; }}
	[data-heading-theme="grapefruit"] { h1, h2, h3, h4, h5, h6 { color: $grapefruit-dark; }}
	[data-heading-theme="bittersweet"] { h1, h2, h3, h4, h5, h6 { color: $bittersweet-dark; }}
	[data-heading-theme="sunflower"] { h1, h2, h3, h4, h5, h6 { color: $sunflower-dark; }}
	[data-heading-theme="grass"] { h1, h2, h3, h4, h5, h6 { color: $grass-dark; }}
	[data-heading-theme="mint"] { h1, h2, h3, h4, h5, h6 { color: $mint-dark; }}
	[data-heading-theme="aqua"] { h1, h2, h3, h4, h5, h6 { color: $aqua-dark; }}
	[data-heading-theme="lavander"] { h1, h2, h3, h4, h5, h6 { color: $lavander-dark; }}
	[data-heading-theme="pink-rose"] { h1, h2, h3, h4, h5, h6 { color: $pink-rose-dark; }}
	[data-heading-theme="light-gray"] { h1, h2, h3, h4, h5, h6 { color: $light-gray-dark; }}
	[data-heading-theme="medium-gray"] { h1, h2, h3, h4, h5, h6 { color: $medium-gray-dark; }}
	[data-heading-theme="dark-gray"] { h1, h2, h3, h4, h5, h6 { color: $dark-gray-dark; }}
}
