
/* Demo page layout
   ========================================================================== */

body.demo {

	$swatch-border-radius: 16px;

	input, textarea {
		color: inherit;
	}
	section{
		margin: 0;
		padding: 10px;
		height: auto;

		&#ui-elements{

			margin: 0 4%;

			/* COLOR SWATCHES
			   ====================================================== */
			#color-swatches {
				.swatch{
					margin: 1px 24px 24px 1px;
					float: left;
					width: 140px;
					height: 100px;
					@include border-radius($swatch-border-radius);
					@include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 1px);
					@include box-sizing(border-box);
					background: #ffffff;

					div {
						float: left;
						width: 50%;
						height: 55%;
						@include box-sizing(border-box);

						&.light {
							@include border-top-left-radius($swatch-border-radius);
						}

						&.dark {
							@include border-top-right-radius($swatch-border-radius);
						}

						&.caption {
							@include border-bottom-left-radius($swatch-border-radius);
							@include border-bottom-right-radius($swatch-border-radius);
							height: 45%;
							width: 100%;
							text-transform: uppercase;
							margin: 7px 10px;

							p {
								color: $dark-gray-dark;
								font-weight: 600;
								font-size: 0.8125em;
								text-align: left;
								margin: 0;
								line-height: 1.25em;

								span {
									display: block;
									input {
										color: $medium-gray-dark;
										font-size: 0.6875rem;

										width: 45%;
										border: 0;
										background: none;
										font-family: typewriter, courier;
										outline: none;
										float: left;
										display: inline-block;
									}
								}
							}
						} // end .caption
					} // end div

					&.grapefruit {
						.light { background: $grapefruit; }
						.dark { background: $grapefruit-dark; }
					}

					&.bittersweet {
						.light { background: $bittersweet; }
						.dark { background: $bittersweet-dark; }
					}

					&.sunflower {
						.light { background: $sunflower; }
						.dark { background: $sunflower-dark; }
					}
					&.grass {
						.light { background: $grass; }
						.dark { background: $grass-dark; }
					}
					&.mint {
						.light { background: $mint; }
						.dark { background: $mint-dark; }
					}
					&.aqua {
						.light { background: $aqua; }
						.dark { background: $aqua-dark; }
					}
					&.blue-jeans {
						.light { background: $blue-jeans; }
						.dark { background: $blue-jeans-dark; }
					}
					&.lavander {
						.light { background: $lavander; }
						.dark { background: $lavander-dark; }
					}
					&.grapefruit {
						.light { background: $grapefruit; }
						.dark { background: $grapefruit-dark; }
					}
					&.pink-rose {
						.light { background: $pink-rose; }
						.dark { background: $pink-rose-dark; }
					}
					&.light-gray {
						.light { background: $light-gray; }
						.dark { background: $light-gray-dark; }
					}
					&.medium-gray {
						.light { background: $medium-gray; }
						.dark { background: $medium-gray-dark; }
					}
					&.dark-gray {
						.light { background: $dark-gray; }
						.dark { background: $dark-gray-dark; }
					}
					&.light-dark {
						.light { background: $light; }
						.dark { background: $dark; }
					}
				} // end #swatch
			} // end #color-swatches



			/* BUTTONS TABLE
			   ====================================================== */
			#buttons {
				margin-bottom: 200px;

				table {

					width: 90%;
					max-width: 1150px;

					tr {
						height: 200px;

						td {

							padding: 20px 2%;
							@include box-sizing(border-box);

							border:solid 1px $medium-gray;

							text-align: left;

							&.caption {
								width: 15%;
								min-width: 140px;
								max-width: 200px;
							}

							&.copy {
								min-width: 150px;
								position: relative;
								textarea {
									width: 100%;
									height: 100%;
									overflow: hidden;
									border: 0;
									margin: auto auto;
									background: none;
									font-size: 0.6875em; //11/16
									font-family: typewriter, courier;
									resize: none;
									outline: none;
								}
							}

							&.example {
								width: 50%;
								min-width: 300px;
								max-width: 800px;

								text-align: center;

							}
						} // end td
					} // end tr

					&.color-options {
						tr {
							height: 80px;
						}
					}
				} // end table
			}// end #buttons

			/* BUTTONS TABLE
			   ====================================================== */
			#typography {
				margin-bottom: 200px;

				.default{
					width: 33%;
					height: auto;
					float: left;

					h2{
						margin-top: -2px;
					}
				}
				.styled-fonts{
					width: 33%;
					height: auto;
					float: left;

					blockquote{
						width: 150px;
					}
				}
				.color-fonts{
					width: 33%;
					height: auto;
					float: left;

					p{
						width: 200px;
						padding: 5px;
						margin: 5px 0;
						@include box-sizing(border-box);

						&:first-of-type{
							background-color:$medium-gray;
						}

						&:hover{
							background-color:$medium-gray;
						}
					}
				}

			}// end #typography
		} // end #ui-elements
	} // end section
} // end body.demo


