/* ==========================================================================
	 forms
	 ========================================================================== */
fieldset {
	border: 0;
	border-color: transparent;

	input, button {
		margin: 10px 0;
	}
}

