/* Main Menu
========================================================================== */

header{

	.menu {
		display: block;
		position: absolute;
		z-index: 4;
		padding: 29px 0 20px;
		margin-top: 110px;
		width: 100%;
		text-align: center;
		padding: 0;

		ul{
			position: relative;
			display: inline-block;
			@include tablet-landscape-and-below {
				display: none;
			}

			li {
				float: left;
				@include transition-property(margin);
	  			@include transition-duration(.3s);
	  			@include transition-timing-function(ease-in);
				margin-right: 50px;
				overflow: hidden;

				&.noTransition {
				    -moz-transition: none;
				    -webkit-transition: none;
				    -o-transition: margin 0;
				    transition: none;
				    margin-right: 0px;
				}

				&.current{
					text-decoration: underline;
				}


				a {
					cursor: pointer;
					text-transform: uppercase;
					color: #ffffff;
					text-decoration: none;
					font-size: 1.1em;
					font-family: 'Raleway', sans-serif;
					font-weight: 400;
					background-size: 7%;

					&:hover {
						text-decoration: underline;
					}

				}

				.clients-menu-item {
					margin: 0 231px 0 0;
				}

				.services-menu-item {
					margin: 0 0 0 66px;
				}
			}
		}
	}
}

.logo {
	margin-top: 9px;
	position: absolute;
	z-index: -1;
	left: 50%;
	margin-left: -70px;

	@include tablet-landscape-and-below {
		display: none;
	}

	a {
		float: left; /* Height fix */
		left: 315px;

		.logo-scrol{
			display: none;
		}
	}
}

.contact {
	display: none;
	@include tablet-landscape-and-below {
		display: none;
	}
}

.toggle-buttons {
	display: none;
	@include tablet-landscape-and-below {
		display: block;
	}
}
		/* Keep on scrolling scrolling scrolling */

		&.scroll {
			position: fixed;
			margin-top: 0;

			.part-left {
				background-color: #fff;
				height: 59px;
				width: 46%;
				position: fixed;
				top: 0;
				box-shadow: 0 2px rgba(0,0,0,.05);
				z-index: -1;
			}

			.part-right{
				background-color: #fff;
				height: 59px;
				width: 46%;
				position: fixed;
				top: 0;
				box-shadow: 0 2px rgba(0,0,0,.05);
				float: right;
				right: 0;
				z-index: -1;
			}

			.menu {

				li {
					margin-right: 35px;

					a {
						color: #434a54;
						font-size: 0.87em;
						font-family: 'Raleway-SemiBold', sans-serif;
					}
				}

			}

			.logo {
				margin-left: -100px;

				a {
					display: block;
					margin-top: -14px;

					&[href="#clients"]{
						margin: 0 90px 0 0;
					}

					&[href="#Services"] {
						margin: 0 0 0 -1px;
					}

					img{
						display: none;

						&.logo-scrol{
							display: block;
						}
					}
				}
			}
		}
		&.slideLeft {
			@include tablet-landscape-and-below{
				height: 100%;
				position: fixed;
				left: 0;
				top: 0;
				margin: 0;
				background-color: #32373c;
				padding:0;
				overflow: hidden;

				.part-left, .part-right, .logo{
					display: none;
				}

				&.close {
					z-index: -1;
				}

				.toggle-buttons{
					background-color:#484b4f;
					margin: 0 0 1px 0;
					overflow: hidden;
					position:relative;
					width: 100%;

					a {
						border-bottom:none;
						display: block;
						padding:3%;
						border: 1px solid #fff;
						width: 38%;
						float: left;
						text-align:center;
						font-weight: normal;
						text-decoration: none;
						font-size: 0.9em;
						color:#fff;
						font-family: "Open Sans", sans-serif;
						font-weight: 400;
						border-radius:0 5px 5px 0;
						margin: 20px 5% 20px 0px;

						&.active{
							background-color: #fff;
							color: #484b4f;
						}

						&:hover{
							background-color: #fff;
							text-decoration: none;
							color: #484b4f;
						}

						&:first-of-type{
							left: 109px;
							border-radius:5px 0 0 5px;
							margin: 20px 0px 20px 5%;
						}
					}
				}

				ul {
					width: 100%;
					overflow: hidden;
					position: absolute;
					left: 0;
					margin: 0 0 1px;

					&.menu {
						display: block;
					}

					li {
						display: block;
						float: none;
						margin: 0 0 1px 0;
						background-color: #484b4f;

						width: 100%;
						box-sizing: border-box;
						height: 50px;

						&.current{
							background-color:#32373c;
							border-right: 10px solid #e9573f;
							text-decoration: none;

							a {
								opacity: 1;
							}
						}

						a {
							border:0;
							padding:0;
							margin: 0;
							color: #fff;
							display: block;
							letter-spacing: 3px;
							font-size: 0.9em;
							text-align: left;
							text-decoration: none;
							font-family: "Open Sans", sans-serif;
							font-weight: 700;
							padding: 0 0 0 20px;
							box-sizing: border-box;
							line-height: 50px;
							opacity: 0.4;

							&[href="#clients"]{
								margin: 0;
							}

							&[href="#Services"]{
								margin: 0;
							}

							&:hover{
								text-decoration:none;
							}

							&:active{
								background-color:#32373c;
								opacity: 1;
							}
						}
					}
				}


				.gradient{
					position: absolute;
					top: 0;
					height: 0;
					// height: 100%;
					width: 100%;

					// -webkit-box-shadow: inset -2px 0px 9px 0px rgba(0,0,0,0.25);
					// -moz-box-shadow: inset -2px 0px 9px 0px rgba(0,0,0,0.25);
					// box-shadow: inset -2px 0px 0px 0px rgba(0,0,0,0.25);

					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGZjMWU5IiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyOCUiIHN0b3AtY29sb3I9IiMzYmFmZGEiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzk2N2FkYyIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjNzhiMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
					background: -moz-linear-gradient(-45deg,  rgba(79,193,233,0.1) 0%, rgba(59,175,218,0.1) 28%, rgba(150,122,220,0.1) 75%, rgba(220,120,176,0.1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(79,193,233,0.1)), color-stop(28%,rgba(59,175,218,0.1)), color-stop(75%,rgba(150,122,220,0.1)), color-stop(100%,rgba(220,120,176,0.1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(-45deg,  rgba(79,193,233,0.1) 0%,rgba(59,175,218,0.1) 28%,rgba(150,122,220,0.1) 75%,rgba(220,120,176,0.1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(-45deg,  rgba(79,193,233,0.1) 0%,rgba(59,175,218,0.1) 28%,rgba(150,122,220,0.1) 75%,rgba(220,120,176,0.1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(-45deg,  rgba(79,193,233,0.1) 0%,rgba(59,175,218,0.1) 28%,rgba(150,122,220,0.1) 75%,rgba(220,120,176,0.1) 100%); /* IE10+ */
					background: linear-gradient(135deg,  rgba(79,193,233,0.1) 0%,rgba(59,175,218,0.1) 28%,rgba(150,122,220,0.1) 75%,rgba(220,120,176,0.1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a4fc1e9', endColorstr='#1adc78b0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


					pointer-events: none;
				}

				&.scroll {

					li {
						margin:0 0 1px 0;

						a {
							color:#fff;
							text-decoration: none;
							font-family: "Open Sans", sans-serif;
							font-weight: 700;
							font-size: 0.9em;

							&[href="#clients"]{
								margin:0;
							}

							&[href="#Services"]{
								margin: 0 ;
							}

							&:active{
								text-decoration: none;
							}
						}
					}
				}
			}

			@include tablet-landscape-only{
				width: 40%;
				z-index: 0;

				ul li a .icons{
					background-size: 5%;
				}
			}

			@include tablet-portrait-only{
				width: 45%;
				z-index: 0;

				ul li a .icons{
					background-size: 6%;
				}
			}

			@include mobile-portrait-only{
				overflow: hidden;
				width: 70%;

				ul {
					.nummer{
					letter-spacing: 1em;
					}
					li a .icons{
						background-size: 9%;
					}
				}
			}

			@include mobile-landscape-only{
				overflow: scroll ;
				-webkit-overflow-scrolling: touch;
				width: 61%;

				ul li a .icons{
					background-size: 6%;
				}
			}
		}
	}
}

	@include tablet-landscape-only{

		/*Nav Expanding Open Effect*/
		.slideLeft.open {
			opacity: 1;

			-webkit-transform: translate3d(0,0,0)scale(1);
			-webkit-animation: slideIn .35s ease-in-out;

			-moz-transform: translate3d(0,0,0)scale(1);
			-moz-animation: slideIn .35s ease-in-out;

			transform: translate3d(0,0,0)scale(1);
			animation: slideIn .35s ease-in-out;
		}
		@-webkit-keyframes slideIn {
			0%       {opacity: .3;
						-webkit-transform: translate3d(40%,0,0)scale(.97);}
			100%  {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
		}
		@-moz-keyframes slideIn {
			0%      {opacity: .3;
						-moz-transform: translate3d(40%,0,0)scale(.97);}
			100%  {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
		}
		@keyframes slideIn {
			0%      {opacity: .3;
						transform: translate3d(40%,0,0)scale(.97);}
			100%  {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
		}

		/*Nav Shrinking Closed Effect*/
		.slideLeft.close {
			opacity: .3;

			-webkit-transform: translate3d(40%,0,0)scale(.97);
			-webkit-animation: slideOut .3s ease-in-out;

			-moz-transform: translate3d(40%,0,0)scale(.97);
			-moz-animation: slideOut .3s ease-in-out;

			transform: translate3d(40%,0,0)scale(.97);
			animation: slideOut .3s ease-in-out;
		}
		@-webkit-keyframes slideOut {
			0%      {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-webkit-transform: translate3d(40%,0,0)scale(.97);}
		}
		@-moz-keyframes slideOut {
			0%      {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-moz-transform: translate3d(40%,0,0)scale(.97);}
		}
		@keyframes slideOut {
			0%      {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						transform: translate3d(40%,0,0)scale(.97);}
		}

}

@include tablet-portrait-only{

		/*Nav Expanding Open Effect*/
		.slideLeft.open {
			opacity: 1;

			-webkit-transform: translate3d(0,0,0)scale(1);
			-webkit-animation: slideIn .35s ease-in-out;

			-moz-transform: translate3d(0,0,0)scale(1);
			-moz-animation: slideIn .35s ease-in-out;

			transform: translate3d(0,0,0)scale(1);
			animation: slideIn .35s ease-in-out;
		}
		@-webkit-keyframes slideIn {
			0%       {opacity: .3;
						-webkit-transform: translate3d(45%,0,0)scale(.97);}
			100%  {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
		}
		@-moz-keyframes slideIn {
			0%      {opacity: .3;
						-moz-transform: translate3d(45%,0,0)scale(.97);}
			100%  {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
		}
		@keyframes slideIn {
			0%      {opacity: .3;
						transform: translate3d(45%,0,0)scale(.97);}
			100%  {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
		}

		/*Nav Shrinking Closed Effect*/
		.slideLeft.close {
			opacity: .3;

			-webkit-transform: translate3d(45%,0,0)scale(.97);
			-webkit-animation: slideOut .3s ease-in-out;

			-moz-transform: translate3d(45%,0,0)scale(.97);
			-moz-animation: slideOut .3s ease-in-out;

			transform: translate3d(45%,0,0)scale(.97);
			animation: slideOut .3s ease-in-out;
		}
		@-webkit-keyframes slideOut {
			0%      {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-webkit-transform: translate3d(45%,0,0)scale(.97);}
		}
		@-moz-keyframes slideOut {
			0%      {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-moz-transform: translate3d(45%,0,0)scale(.97);}
		}
		@keyframes slideOut {
			0%      {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						transform: translate3d(45%,0,0)scale(.97);}
		}
}

@include mobile-portrait-only{


		/*Nav Expanding Open Effect*/
		.slideLeft.open {
			opacity: 1;

			-webkit-transform: translate3d(0,0,0)scale(1);
			-webkit-animation: slideIn .35s ease-in-out;

			-moz-transform: translate3d(0,0,0)scale(1);
			-moz-animation: slideIn .35s ease-in-out;

			transform: translate3d(0,0,0)scale(1);
			animation: slideIn .35s ease-in-out;
		}
		@-webkit-keyframes slideIn {
			0%       {opacity: .3;
						-webkit-transform: translate3d(70%,0,0)scale(.97);}
			100%  {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
		}
		@-moz-keyframes slideIn {
			0%      {opacity: .3;
						-moz-transform: translate3d(70%,0,0)scale(.97);}
			100%  {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
		}
		@keyframes slideIn {
			0%      {opacity: .3;
						transform: translate3d(70%,0,0)scale(.97);}
			100%  {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
		}

		/*Nav Shrinking Closed Effect*/
		.slideLeft.close {
			opacity: .3;

			-webkit-transform: translate3d(70%,0,0)scale(.97);
			-webkit-animation: slideOut .3s ease-in-out;

			-moz-transform: translate3d(70%,0,0)scale(.97);
			-moz-animation: slideOut .3s ease-in-out;

			transform: translate3d(70%,0,0)scale(.97);
			animation: slideOut .3s ease-in-out;
		}
		@-webkit-keyframes slideOut {
			0%      {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-webkit-transform: translate3d(70%,0,0)scale(.97);}
		}
		@-moz-keyframes slideOut {
			0%      {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-moz-transform: translate3d(70%,0,0)scale(.97);}
		}
		@keyframes slideOut {
			0%      {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						transform: translate3d(70%,0,0)scale(.97);}
		}
}

@include mobile-landscape-only{
/*Nav Expanding Open Effect*/
		.slideLeft.open {
			opacity: 1;

			-webkit-transform: translate3d(0,0,0)scale(1);
			-webkit-animation: slideIn .35s ease-in-out;

			-moz-transform: translate3d(0,0,0)scale(1);
			-moz-animation: slideIn .35s ease-in-out;

			transform: translate3d(0,0,0)scale(1);
			animation: slideIn .35s ease-in-out;
		}
		@-webkit-keyframes slideIn {
			0%       {opacity: .3;
						-webkit-transform: translate3d(60%,0,0)scale(.97);}
			100%  {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
		}
		@-moz-keyframes slideIn {
			0%      {opacity: .3;
						-moz-transform: translate3d(60%,0,0)scale(.97);}
			100%  {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
		}
		@keyframes slideIn {
			0%      {opacity: .3;
						transform: translate3d(60%,0,0)scale(.97);}
			100%  {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
		}

		/*Nav Shrinking Closed Effect*/
		.slideLeft.close {
			opacity: .3;

			-webkit-transform: translate3d(60%,0,0)scale(.97);
			-webkit-animation: slideOut .3s ease-in-out;

			-moz-transform: translate3d(60%,0,0)scale(.97);
			-moz-animation: slideOut .3s ease-in-out;

			transform: translate3d(60%,0,0)scale(.97);
			animation: slideOut .3s ease-in-out;
		}
		@-webkit-keyframes slideOut {
			0%      {opacity: 1;
						-webkit-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-webkit-transform: translate3d(60%,0,0)scale(.97);}
		}
		@-moz-keyframes slideOut {
			0%      {opacity: 1;
						-moz-transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						-moz-transform: translate3d(60%,0,0)scale(.97);}
		}
		@keyframes slideOut {
			0%      {opacity: 1;
						transform: translate3d(0,0,0)scale(1);}
			100%  {opacity: .3;
						transform: translate3d(60%,0,0)scale(.97);}
		}
}