/* detail
   ========================================================================== */
.detail-page{
	width: 100%;
	height: 100%;
	background-color: #fff;

	.overview{
		width: 100%;
		height: 200px;
		padding: 20px;
		text-align: center;
		background: #fcfcfb;
		overflow: hidden;
		@include box-sizing(border-box);

		div{
			width: 100px;
			margin: 10px;
			display: inline-block;
		}

		img{
			width: 100%;
			height: auto;
		}

		h4{
			line-height: $h4-font-size;
		}
	}

	nav{
		background: #fcfcfb;
		height: 65px;
		width: 100%;
		overflow: hidden;
		overflow-y: auto;
		overflow-x:hidden;
		z-index: $z-index-nav;

		a{
			font-family: $heading-font;
			font-size: $base-font-size * 0.875;
			font-weight: $heading-font-semi-bold;
			float: left;
			text-transform: uppercase;

			&.home{
				margin:  20px 25px;
			}

			&:hover{
				text-decoration: none;
			}

			span{
				@include sprite(arrow-left-dark);
				float: left;
				margin-right: 10px;
			}
		}

		div{
			float: right;
			margin: 20px 25px;
			overflow: hidden;
			width: auto;

			a{
				float: left;
				margin-left: 27px;

				&:hover{
					text-decoration: none;
				}

				span{
					@include sprite(arrow-right-dark);
					float: left;
					margin-right: 10px;
				}

				&:first-of-type{
					margin-right: 27px;
					margin-left: 0;

					span{
						@include sprite(arrow-left-dark);
						margin-left: 10px;
						margin-right: 0;
						float: right;
					}
				}

				&:nth-child(2){
					float: left;
					margin: 0;
					@include sprite(detail-overview);
				}
			}
		}
	}


	section{
		height: auto;
		width: 100%;
		display: block;
		z-index: $z-index-section;

		@include box-orient(horizontal);
		@include box-pack(center);
		@include box-align(center);

		@include tablet-portrait-and-up{
			height: 100%;
		}
	}

	//* DEFAULT SETINGS FOR DETAIL PAGE

	.content{
		overflow: hidden;
		max-width:1024px;
		margin: auto;
		padding: 0 40px;
		height: auto;
	}

	h2 {
		font-size: 14px;
		line-height: 18px;
		font-family: $normal-font;
		font-weight: $normal-font-bold;
		text-transform: uppercase;
		color: $dark-gray;
		margin-top: 50px;
	}

	h3{
		line-height: 32px;
		max-width: 400px;
	}

	p{
		margin-top: 0;
	}

	//-- END DEFAULT SETINGS

	//* INTRO SECTION
	.intro{
		p{
			margin-right: 10%;

			@include tablet-portrait-and-up{
				margin-right: 30px;
			}

			&:first-of-type{
				text-transform: uppercase;
			}
		}
	}

	//-- END INTRO SECTION

	//* SHOWCASE SECTION
	.showcase {
		padding: 0;
		overflow: hidden;
		height: 70%;
		display: block;

		img {
			height: 100%;
			position: absolute;
			bottom: 0;

			@include tablet-portrait-and-up{
				width: 100%;
				height: auto;
			}

			&.background{
				position: relative;
				top: 0;
			}

			&.background-two{
				opacity: 0;
			}

			&.skyline{
				width: 188%;
				height: auto;
				left: -49%;

				@include tablet-portrait-and-up{
					width: 100%;
					left: 0;
				}
			}

			&.beam {
				height: auto;
				left: -150%;

				@include tablet-portrait-and-up{
					width: 100%;
					left:0;
				}
			}

			&.limo {
				width: 34%;
				left: 50%;
				bottom: 2%;
				height: auto;

				@include tablet-portrait-and-up{
					width: 18%;
					left: 15%;
				}

			}

			&.pops {
				width: 14%;
				left: 80%;
				bottom: 2%;
				height: auto;

				@include tablet-portrait-and-up{
					width: 7%;
					left: 22%;
				}
			}

			&.logo{
				top: 30%;
				left: 15%;
				width: 70%;
				height: auto;

				@include tablet-portrait-and-up{
					width: 20%;
				}
			}

			&.demo{
				width: 25%;
				left: 60%;
				bottom: 25%;
				height: auto;

				@include tablet-portrait-and-up{
					width: 13%;
					left:  60%;
					bottom: 25%;
				}

				&.hover{
					opacity: 0;
				}

				&:hover{
					&.hover{
						opacity: 1;
					}
				}


			}
		}

		&.project{
			height: auto;
		}

		&.demo{
			background-color: $pink-rose-dark;
			height: 60%;

			@include desktop-and-up{
				height: 70%;
			}

			img{
				&.limo {
					width: 60%;
					left: 15%;

					@include tablet-portrait-and-up{
						width: 32%;
						left: 40%;
					}

				}

				&.pops {
					width: 25%;
					left: 70%;

					@include tablet-portrait-and-up{
						width: 13%;
						left: 70%;
					}
				}
			}
		}
	}

	//-- END HEADER SECTION

	//* START DETAIL ELEMENTS

	.detail{
		position: relative;
		padding-top: 50%;

		> .content{
			position: relative;
			top: -50%;
		}
	}

	// two colomn
	.two-column{
		width: 100%;
		float: left;
		margin: 0 auto;
		@include box-sizing(border-box);

		@include desktop-and-up{
			padding: 0 40px;
		}

		@include tablet-portrait-and-up{
			width: 50%;
		}
	}

	// three colomn
	.three-column{
		width: 100%;
		float: left;
		@include box-sizing(border-box);

		@include tablet-portrait-and-up{
			width: 50%;
		}

		@include tablet-landscape-and-up{
			padding: 0 10px;
			width: 25%;
		}

		@include desktop-and-up{
			padding: 0 40px;
		}

		&:nth-child(2){
			@include tablet-portrait-and-up{
				width: 50%;
			}
		}

		img{
			min-width: 164px;
			max-width: 385px;
			margin: 0 auto;
			display: block;
			width: 80%;

			@include tablet-landscape-and-up{
				width: 100%;
			}
		}
	}

	//information block
	.information{
		p {
			max-width: 400px;
		}
	}

	//large image
	.large-image{
		position: absolute;
		max-width: 689px;
		right: -80%;
		padding: 0;
		bottom: 0;

		@include tablet-portrait-and-up{
			margin-top: -100px;
			right: 0;
		}
	}

	//-- END DETAIL ELEMENTS

	//* QOUTE SECTION
	.qoute{
		background-color: $pink-rose-dark;
		position: relative;
		padding-top: 50%;

		blockquote{
			max-width: 800px;
			margin: auto;
			font-size: 18px;
			line-height: 30px;
			padding: 0 40px;
			color: $light;
			position: relative;
			top: -50%;

			@include tablet-portrait-and-up{
				font-size: 24px;
				line-height: 30px;
			}

			&:before{
				@include sprite(qoute);
				content:  '';
				position: relative;
				left: -20px;
				top: 24px;

				@include tablet-portrait-and-up{
					left: -50px;
				}
			}

			footer{
				font-size: 24px;
				font-weight: 24px;
				float: right;
			}
		}
	}
	//-- END QOUTE

	//* SCREENSHOT SECTION
	.screenshot{
		.content{
			padding: 100px 40px;
		}

		@include box-sizing(border-box);

		p{
			text-align: center;
		}

		@include tablet-portrait-and-up{
			padding: 0 40px;
		}

		img{
			width: 100%;
		}
	}

	//-- END SCREENSHOT

	//* VIDEO SECTION
	.video{
		video{
			width: 100%;
		}

		video[poster]{
			height:100%;
			width:100%;
		}
	}
	//-- END VIDEO


	.work{

		h3{
			text-align: center;
			color: $base-background-color;
			font-family: $heading-font;
			width: 100%;
			max-width: 100%;
			margin-bottom: 110px;
			font-weight: $heading-font-light;
			font-size: $h1-font-size;
		}

		> .content{
			padding: 40px;
		}

		article {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			display: block;
			overflow: hidden;
			@include tablet-landscape-and-up {
				width: 42%;
				padding-bottom: 42%;
				margin: 0 40px;
			}
			float: left;
			position: relative;
			@include box-sizing(border-box);
			@include box-shadow(rgba(0,0,0, 0.3) 0 0 40px);
			// box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);

			div {
				position: absolute;
				left:0;
				bottom:-70px;
				background-color:rgba(50, 55, 60, 1);
				height: 70px;
				min-height: 70px;
				width: 101%;
				margin: 0;
				display: table;
				table-layout:fixed;
				@include box-sizing(border-box);
				@include transition-property(bottom);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);
			}
		}

		a {
			float: left;
			width: 100%;

			&:hover {
				text-decoration: none;
				border-bottom: none;
				padding: 0;

				div {
					bottom: 0;
				}

				img {
					margin-top: -5%;
					margin-left: -5%;
					width: 110%;
				}
			}
		}

		img {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			float: left;
			@include transition-property(all);
			@include transition-duration(0.4s);
			@include transition-timing-function(ease-out);
		}

		h1 {
			padding: 0 20px;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: $heading-font-semi-bold;
			// line-height: 70px;
			letter-spacing: 0.08em;
			// float: left;
			width: 60%;
			color: #fff;
			display: table-cell;
			vertical-align: middle;
			@include box-sizing(border-box);
			@include mobile-landscape-and-up {
				font-size: $h6-font-size;
			}
			@include tablet-portrait-and-up {
				font-size: 12px;
			}
			@include desktop-and-up {
				font-size: $h6-font-size;
			}
		}

		p {
			padding: 0 20px 0 0;
			// float: right;
			width: auto;
			max-width: 40%;
			font-size: 0.643em;
			font-weight: $normal-font-semi-bold;
			text-transform: uppercase;
			text-align: right;
			line-height: 14px;
			display: none;
			vertical-align: middle;
			color: $light;
			@include box-sizing(border-box);
			@include desktop-and-up {
				display: table-cell;
				font-size: 0.786em;
			}
		}

		em {
			font-weight: $normal-font-light;
			font-style: normal;
		}

		.arrow-right {
			background-image: url(../images/sprites-retina/arrow-right-large.png);
			width: 25px;
			height: 40px;
			background-size: 25px 40px;
			display: block;
			position: absolute;
			top: 50%;
			right: 30px;
			margin: -20px 0 0 0;

			@include tablet-landscape-and-up {
				width: 18px;
				height: 30px;
				background-size: 18px 30px;
				margin: -15px 0 0 0;
			}

			@include desktop-and-up {
				display: none;
			}
		}
	}

}









