/* main
   ========================================================================== */

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: $deep-blue;
	overflow-x: hidden;
}

#wrapper{
	width: 100%;
	background: $deep-blue;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
	// overflow-x: hidden;

	@include tablet-landscape-and-up {
		// overflow-x: visible;
	}
 }

section{
	width: 100%;
	height: auto;
	background-position: center 0;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	padding: 30px 0;
	z-index: 20;
	overflow: hidden;
	@include box-sizing(border-box);

	@include tablet-portrait-and-up {
		padding: 50px 0;
	}
}

.hidden{
	display: none!important;
}

/* CONTENT ANNIMATION
   ========================================================================== */

	@include tablet-portrait-and-below{

		/*Content Sliding Open Effect*/
		div.slideRight.open,
		section.slideRight.open
		{
			@include animation(trunkContentRight, 0.5s);
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			overflow-x:hidden;
		}

		/*Content Sliding Closed Effect*/
		div.slideRight.close,
		section.slideRight.close
		{
			@include animation(trunkContentLeft, 0.5s);
			-webkit-animation-fill-mode: backwards;
			-moz-animation-fill-mode: backwards;
			animation-fill-mode: backwards;
		}

	}



