/* Header
========================================================================== */
header{

	nav {
		background: #32373c;
		position: absolute;
		height: 100%;
		width: 60%;
		overflow: hidden;
		overflow-y: auto;
		overflow-x:hidden;
		z-index: $z-index-base;

		&.enabled {
			width: 65%;
		}

		@include tablet-landscape-and-up {
			display: block;
			position: absolute;
			z-index: $z-index-nav + 1;
			padding: 35px 0 20px;
			margin-top: 110px;
			width: 100%;
			height: auto;
			text-align: center;
			background: none;

			&.enabled {
				width: 100%;
			}
		}

		@include tablet-portrait-and-below {
			@include opacity(0);
			margin-left: 35%;
			@include transform(scale(.8));
			z-index: 1;
			&.open {
				@include animation(trunkSlideIn, 0.5s);
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
				position: fixed;
			}

			&.close {
				@include animation(trunkSlideOut, 0.5s);
				-webkit-animation-fill-mode: backwards;
				-moz-animation-fill-mode: backwards;
				animation-fill-mode: backwards;
				//position: fixed;
			}
		}

		ul {
			margin: 0;
			display: block;
			width:100%;
			height: 100%;
			position: absolute;
			background: #32373c;
			@include background-image(
				linear-gradient(122deg, rgba(79,193,233,0.1) 0%,rgba(59,175,218,0.1) 25%,rgba(150,122,220,0.1) 75%,rgba(220,120,176,0.1) 100%),
				radial-gradient(ellipse at top right, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%)
			);
			z-index:$z-index-nav + 2;

			@include tablet-landscape-and-up {
				margin: 3px 0 0 0;
				position: relative;
				display: inline-block;
				text-align: center;
				background: none;
				height: auto;
				width: auto;
				@include box-sizing(border-box);
			}
		}

		.mobile-shadow {
			height: 100%;
			width: 6px;
			position: absolute;
			top:0;
			right:0;
			z-index: 1000;
			@include background-image(linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,.2) 100%));

			@include tablet-landscape-and-up {
				display: none;
			}
		}

		.navlogo {
			display: none;
		}

		li {
			display: block;
			margin: 0 0 1px 0;
			background: #484b4f;
			background: rgba(255,255,255,0.1);
			width: 100%;
			height: 50px;
			padding: 0 20px;
			@include box-sizing(border-box);

			@include tablet-landscape-and-up {
				float: left;
				margin-right: 20px;
				background: none;
				width: auto;
				height: auto;
				padding: 0;
			}

			@include desktop-and-up {
				margin-right: 35px;
			}

			&.current {
				background: none;
				border-right: 10px solid #e9573f;
				text-decoration: none;

				a {
					opacity: 1;
				}

				@include tablet-landscape-and-up {
					background: none;
					border-right: 0;
				}
			}

			&:first-child {
				margin: 61px 0 1px 0;
				@include tablet-landscape-and-up {
					margin:0 20px 0 0;
				}
				@include desktop-and-up {
					margin: 0 35px 0 0;
				}
			}

			a {
				width: 100%;
				height: 50px;
				float: left;
				line-height: 50px;
				color: #fff;
				letter-spacing: 1px;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: $normal-font-bold;
				@include opacity(.4);
				border: 0;

				@include tablet-landscape-and-up {
					text-transform: uppercase;
					color: #ffffff;
					text-decoration: none;
					font-size:	.8em;
					line-height: 1em;
					font-family: $heading-font;
					font-weight: $heading-font-normal;
					height: auto;
					@include opacity(1);
					letter-spacing: 0.08em;
				}

				&:hover {
					opacity: 1;
					text-decoration: none;
					border: 0 !important;
					@include tablet-landscape-and-up {
						border-bottom: 1px solid #fff !important;
					}
				}
			}
		}
	}

	.hamburger {
		position: fixed;
		left: 15px;
		z-index: 100;
		cursor: pointer;
		width: 30px;

		@include tablet-landscape-and-up {
			display: none;
		}

		ul {
			list-style: none;
			position: relative;
		}

		li {
			margin-bottom: 6px;
			height: 2px;
			background-color: white;
			@include transition(all 0.25s);
		}

		&.open {
			li {
				opacity: 0;

				&:first-child {
					opacity: 1;
					@include rotate(45deg);
					top: 9px;
					position: relative;
					left: 0;
				}

				&:last-child {
					opacity: 1;
					@include rotate(-45deg);
					top: -7px;
					position: relative;
					left: 0;
				}
			}
		}

	}

	.contact-mobile {
		top: 20px;
		right: 20px;
		position: absolute;
		text-indent: -9999px;
		@include sprite(location-phone-smartphone-link);
		z-index: $z-index-nav + 3;

		&:hover {
			border: 0;
		}

		@include tablet-landscape-and-up {
			display: none;
		}
	}


	nav {
		@include transition(margin .5s);

		@include tablet-landscape-and-up {

			&.sticky {
				margin: -100px 0 0 0;
				padding: 0;
				position: fixed;
				color: #000;
				z-index: $z-index-nav + 5;
				height: 89px;

				&:before {
					content: '';
					width: -webkit-calc(50% - 47px);
					width: -moz-calc(50% - 47px);
					width: calc(50% - 47px);
					display: block;
					background: #fcfcfb;
					height: 64px;
					position: absolute;
					top: 0;
					left: 0;
					z-index: $z-index-base;
					@include box-shadow(0 2px rgba(0,0,0,.05));
				}

				&:after {
					content: '';
					width: -webkit-calc(50% - 46px);
					width: -moz-calc(50% - 46px);
					width: calc(50% - 46px);
					display: block;
					background: #fcfcfb;
					height: 64px;
					position: absolute;
					top: 0;
					right: 0;
					z-index: $z-index-base;
					@include box-shadow(0 2px rgba(0,0,0,.05));
				}

				ul {
					padding: 0;
					position: relative;
					top: 0;
					left: 22px;

					@include desktop-and-up {
						left: 32px;
					}
				}

				li {
					a {
						font-weight: $heading-font-semi-bold;
						color: $dark;
						line-height: 1em;
						padding: 25px 0 0 0;

						@include tablet-landscape-and-up {
							padding: 24px 0 4px 0;
						}

						@media screen and (max-width: 820px) {
							font-size: 0.85em;
							padding: 27px 0 4px 0;
						}

						&:hover {
							font-weight: $heading-font-semi-bold;
							border-bottom: 2px solid $dark !important;
							color: $dark;
						}
					}
					&.current {
						a {
							font-weight: $heading-font-semi-bold;
							border-bottom: 2px solid $dark !important;
							color: $dark;

						}
					}
				}

				.clients {
					margin: 0 124px 0 0;

					@include desktop-and-up {
						margin: 0 144px 0 0;
					}
				}

				.navlogo {
					display: block;
					position: absolute;
					width: 94px;
					height: 89px;
					margin: -3px 0 0 -69px;
					top: 0;
					left: 50%;

					.color{
						width: 70px;
						height: 70px;
						@include border-radius(70px);
						position: absolute;
						top: 6px;
						left: 11px;
						@include opacity(.7);
						@include transition(.5s background-color);
					}

					@include desktop-and-up {
						margin: -3px 0 0 -79px;
					}

					a {
						padding: 0;
						display: block;
						width: 94px;
						height: 89px;
						background: url(../media/logo-circle.png) no-repeat;
						background-size: 94px 89px;
						text-indent: -9999px;
						margin: 0;
						position: relative;
						z-index: 200;
						// margin: -34px 20px 0 -10px;

						&:hover {
							border: 0 !important;
							padding: 0;
						}

						@include desktop-and-up {
							margin: 0;
							// margin: -34px 35px 0 -10px;
						}
					}
				}
			}
		}

		@include desktop-and-up {
			ul {
				padding: 0 0 0 90px;
			}
		}
	}
}