/*
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor: pointer;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

// Pager style

.owl-pagination {
	text-align: center;
	width: 100%;
	height: 50px;
	z-index: $z-index-section;
	position: absolute;
	bottom:	70px;

	@include desktop-and-below{
		bottom: 70px;
	}

	@include mobile-landscape-and-below{
		bottom: 20px;
	}

	@include mobile-portrait-and-below{
		bottom: 20px;
	}

	.owl-page {
		margin:0 15px;
	    border: 1px solid $light;
	    width: 15px;
	    height: 15px;
	    border-radius: 50px;
	    display: inline-block;

	    @include mobile-landscape-and-below{
			margin: 0 12px;
		}

	    &:hover {
	    	background-color: #fff;
	    	opacity: 0.8;
	    	border: 1px solid $light;
	    	padding: 0;
	    	cursor: pointer;
	   	}

	   	&.active{
	     	background-color: #fff;
	    	opacity: 0.8;
	    	@include single-box-shadow(#fff, 0, 0, 15px);
	    }
	}
}

// Next & Prev buttons

.owl-prev {
	display: none;
	padding: 0;
	text-indent: -9999px;
	@include transition(all 0.4s);
	@include sprite(arrow-left-large);

	&:hover {
		border: none;
	}

	// @include tablet-portrait-and-up{
	@include desktop-and-up{
		position: absolute;
		top: 50%;
		height: 100px;
		z-index: 2;
		margin-top: -55px;
		@include box-sizing(border-box);
		left: 50px;
		display: block;
	}
}

.owl-next {
	display: none;
	padding: 0;
	text-indent: -9999px;
	@include transition(all 0.4s);
	@include sprite(arrow-right-large);

	&:hover {
		border: none;
	}

	// @include tablet-portrait-and-up{
	@include desktop-and-up{
		position: absolute;
		top: 50%;
		height: 100px;
		z-index: 2;
		margin-top: -55px;
		@include box-sizing(border-box);
		right: 50px;
		display: block;
		transition: opacity 0.3s linear, height 0.3s step-start;
	}
}

