/* Retina Sprites
   ========================================================================== */

$sprites: sprite-map("sprites/*.png",
    $position: 100%, $spacing: 44px, $repeat: no-repeat);
$sprites-2x: sprite-map("sprites-retina/*.png",
    $position: 100%, $spacing: 44px, $repeat: no-repeat);

@mixin sprite($sprite) {
    background-image: sprite-url($sprites);
    background-position: sprite-position($sprites, $sprite);
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: image-height(sprite-file($sprites, $sprite));
    width: image-width(sprite-file($sprites, $sprite));

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
        background-image: sprite-url($sprites-2x);
        background-size: (image-width(sprite-path($sprites-2x)) / 2) (image-height(sprite-path($sprites-2x)) / 2);
        background-position: round(nth(sprite-position($sprites-2x, $sprite), 1) / 2) round(nth(sprite-position($sprites-2x, $sprite), 2) / 2);
        height: image-height(sprite-file($sprites-2x, $sprite)) / 2;
        width: image-width(sprite-file($sprites-2x, $sprite)) / 2;
    }
}