@mixin trunkSlideIn($prefix) {
	0% 		{
		@include opacity(0);
		margin-left: 45%;
		@include transform(scale(.8), $prefix);
	}
	100%  	{
		@include opacity(1);
		margin-left: 0;
		@include transform(scale(1), $prefix);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes trunkSlideIn { @include trunkSlideIn(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes trunkSlideIn { @include trunkSlideIn(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes trunkSlideIn { @include trunkSlideIn(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes trunkSlideIn { @include trunkSlideIn(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes trunkSlideIn { @include trunkSlideIn(o); }
}
@keyframes trunkSlideIn { @include trunkSlideIn(none); }

.trunkSlideIn {
  @include animation-name(trunkSlideIn);
}