@mixin trunkSlideOut($prefix) {
	0% 		{
		@include opacity(1);
		margin-left: 0;
		@include transform(scale(1), $prefix);
	}
	100%  	{
		@include opacity(0);
		margin-left: 45%;
		@include transform(scale(.8), $prefix);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes trunkSlideOut { @include trunkSlideOut(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes trunkSlideOut { @include trunkSlideOut(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes trunkSlideOut { @include trunkSlideOut(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes trunkSlideOut { @include trunkSlideOut(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes trunkSlideOut { @include trunkSlideOut(o); }
}
@keyframes trunkSlideOut { @include trunkSlideOut(none); }

.trunkSlideOut {
  @include animation-name(trunkSlideOut);
}