@mixin trunkContentRight($prefix) {
	0% {
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	70% {
		-webkit-transform: translate3d(46%,0,0);
		-moz-transform: translate3d(46%,0,0);
		transform: translate3d(46%,0,0);
	}
	100% {
		-webkit-transform: translate3d(45%,0,0);
		-moz-transform: translate3d(45%,0,0);
		transform: translate3d(45%,0,0);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes trunkContentRight { @include trunkContentRight(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes trunkContentRight { @include trunkContentRight(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes trunkContentRight { @include trunkContentRight(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes trunkContentRight { @include trunkContentRight(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes trunkContentRight { @include trunkContentRight(o); }
}
@keyframes trunkContentRight { @include trunkContentRight(none); }

.trunkContentRight {
  @include animation-name(trunkContentRight);
}