#careers {
	width: 100%;
	height: auto;
	min-height: 100%;
	background: $dark-gray-dark;
	background: #384353;
	display: table;
	//@include background-image(linear-gradient(left top,  rgba(199,210,112,0.05) 0%,rgba(111,183,115,0.05) 19%,rgba(3,178,165,0.05) 77%,rgba(110,204,218,0.05) 100%));

	@include box-sizing(content-box);

	.careers-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.desk-animation {
		position: relative;
		width: 80%;
		max-width: 1280px;
		min-width: 840px;
		margin: 0 auto;
		height: 340px;

		@media (max-width : 840px) {
			left: 50%;
			margin-left: -460px;
		}

		@include mobile-landscape-and-below {
			width: 80%;
			max-width: 80%;
			min-width: 80%;
			margin-left: -40%;
			height: 200px;
		}

		@include mobile-landscape-and-below {
			margin-left: -42%;
		}
		@include tablet-landscape-and-below {
			margin-top: 0;
		}

		div {
			position: absolute;
			bottom: 40px;

			-webkit-rotation-point:50% 50%;
			-o-rotation-point:50% 50%;
			-ms-rotation-point:50% 50%;
			rotation-point:50% 50%;

			@include transition(all 0.25s ease-out);
			@include transition-delay(1);
		}

		.display {
			left: 50%;
			margin-left: -341px;
			top: -10px;
			background: url(../media/careers/display-24.png) no-repeat center 0;
			width: 682px;

			@include below-tablet-landscape {
				width: 424px;
				margin-left: -170px;
				top: 60px;
				background: url(../media/careers/macbook.png) no-repeat center 0;
			}

			@include tablet-portrait-and-below {
				//display: none;
				top: -80px;
			}

			@include mobile-landscape-and-below {
				display: none;
			}

			// New desktop image for bigger screens
			@media (min-width : 1600px) {
				background: url(../media/careers/display-27.png) no-repeat center 0;
				width: 726px;
				margin-left: -363px;
			}

		}

		.keyboard {
			left: 50%;
			margin-left: -133px;
			top: 190px;
			opacity: 1;
			@include transition(all .1s ease-out);
			@include below-tablet-landscape {
				display: none;
			}
		}

		.book {
			left: 0;
			bottom: -24px;
			@include transition(all 0.4s ease-out);
			@include below-tablet-landscape {
				bottom: 40px;
			}
			@include below-tablet-landscape {
				bottom: 24px;
			}
			@include tablet-portrait-and-below {
				left: 13%;
				bottom: 0;
			}
			@include mobile-landscape-and-below {
				display: none;
			}
		}

		.fineliner {
			left: 16%;
			bottom: 26px;
			@include transition(all 0.25s ease-out);
			@include below-tablet-landscape { bottom: 39px; }
			@include tablet-portrait-and-below { left: 31%; bottom: 14px; }
			@include mobile-landscape-and-below { left: 0; }
		}

		.marker {
			left: 20%;
			bottom: 26px;
			@include below-tablet-landscape { bottom: 40px; }
			@include tablet-portrait-and-below { left: 36%; bottom: 14px; }
			@include mobile-landscape-and-below { left: 15%; }
		}

		.phone {
			left: 26%;
			bottom: 26px;
			@include transition(all 0.25s ease-out);
			@include below-tablet-landscape { bottom: 40px; }
			@include tablet-portrait-and-below { left: 63%; bottom: 14px; }
			@include mobile-landscape-and-below { left: 35%; }
		}

		.mouse {
			left: 68%;
			bottom: 33px;
			opacity: 1;
			@include transition(all 0.5s .2s ease-in-out);
			@include below-tablet-landscape { display: none; }
		}

		.sharpner {
			left: 78%;
			bottom: 72px;
			@include transition(all 0.25s ease-out);
			@include below-tablet-landscape { bottom: 40px; }
			@include tablet-portrait-and-below { left: 74%; bottom: 14px; }
			@include mobile-landscape-and-below { left: 64%; }
		}

		.pencil {
			left: 85%;
			bottom: 20px;
			@include transition(all 0.2s ease-out);
			@include below-tablet-landscape { bottom: 39px; }
			@include tablet-portrait-and-below { left: 81%; bottom: 14px; }
			@include mobile-landscape-and-below { left: 78%; }
		}

		.ruler {
			left: 92%;
			bottom: -10px;
			@include transition(all 0.1s ease-out);
			@include below-tablet-landscape { bottom: 40px; }
			@include tablet-portrait-and-below { right: 9%; left: auto; bottom: 14px; }
			@include mobile-landscape-and-below { right: 0; }
		}
	}

	&.current {
		.keyboard {
			@include rotate(5deg);
			top: 200px;
		}

		.book {
			@include rotate(20deg);
			left: -4%;
			@include tablet-portrait-and-below { @include rotate(-30deg); bottom: 0px; left: 20%; }
		}

		.fineliner {
			@include rotate(30deg);
			bottom: -48px;
			left: 12%;
			@include tablet-portrait-and-below { bottom: -30px; left: 46%; }
			@include mobile-landscape-and-below { bottom: -20px; left: 1%; }


		}

		.marker {

			@include rotate(-15deg);
			left: 18%;
			bottom: 20px;

			@include tablet-portrait-and-below { left: 15%; bottom: -30px; }
			@include mobile-landscape-and-below { left: 17%; bottom: 70px; }
		}

		.phone {

			@include rotate(15deg);
			left: 25%;
			bottom: 39px;
			@include tablet-portrait-and-below { left: 60%; bottom: 52px; }

			@include mobile-landscape-and-below { left: 36%; bottom: 30px; }
		}

		.mouse {
			@include rotate(-15deg);
			bottom: 10px;
			left: 70%;
		}

		.sharpner {
			bottom: 50px;
			left: 90%;
		}

		.pencil {
			@include rotate(-60deg);
			bottom: -88px;
			left: 90%;

			@include mobile-landscape-and-below { left: 86%; bottom: -60px; }
		}

		.ruler {
			@include rotate(45deg);
			bottom: 0;
			left: 88%;
			@include tablet-portrait-and-below { left: 80%; }

			@include mobile-landscape-and-below { left: 96%; bottom: 70px; }
		}

		@include mobile-landscape-and-below {
			.display {}
			.keyboard {}
			.book { @include rotate(20deg); left: -4%; }
			// .fineliner {}
			// .marker {}
			// .phone {
			// 	left: 42%;
			// 	bottom: 96px;
			// }

			// .mouse {}

			// .sharpner {
			// 	bottom: 70px;
			// 	left: 90%;
			// }

			// .pencil {
			// 	bottom: -40px;
			// 	left: 96%;
			// }

			// .ruler {
			// 	right: 12%;
			// 	left: auto;
			// 	bottom: 60px;
			// 	@include rotate(30deg);
			// }
		}
	}

	article {
		width: 90%;
		opacity: .9;

		max-width: 1100px;

		margin: 5% auto;
		text-align: left;


		@include tablet-landscape-and-up {
			text-align: center;
		}

		ul{
			overflow: hidden;
			margin-top: 2%;

			&:after {
			    content: ".";
			    display: block;
			    clear: both;
			    visibility: hidden;
			    line-height: 0;
			    height: 0;
			}
		}

		li {
			clear: both;
			width: 100%;
			margin: 20px auto;
			@include box-sizing(border-box);

			@include tablet-landscape-and-up{
				width: 50%;
			}
		}
	}
}

