/* clients
   ========================================================================== */
#clients{
	background-color: $light;
	padding: 0;

	article {
		display: block;
		@include box-sizing(border-box);
		width: 90%;
		margin: 0 auto;

		@include tablet-portrait-and-up {
			padding: 100px 0;
		}

		@include tablet-landscape-and-up {
			height: 100%;
			max-width: 1400px;
			margin: 0 auto;
			text-align: center;
		}

		p {
			max-width: 1100px;
			margin: 0 auto;

			a {
				color: $base-background-color;
				padding: 2px 10px;
				background-color: $dark-gray-dark;
				float: left;
				margin-top: 20px;
				width: 100%;
				white-space: nowrap;
				@include box-sizing(border-box);

				border-bottom: none;

				&:hover {
					background-color: $dark-gray-dark;
				}

				@include tablet-portrait-and-up {
					color: $dark-gray-dark;
					padding:0;
					background-color: transparent;
					float: none;
					margin: 0;

					border-bottom: 1px dotted;

					&:hover {
						background-color: transparent;
						border-bottom: 1px solid;
					}
				}

			}
		}

		.client-list {
			width: 100%;
			height: auto;
			position: relative;
			float: left;
			margin: 20px 0 50px;
			@include box-sizing(border-box);
			// different media query for the 4grid -> 3grid transition
			@media (min-width : 900px) {
				margin-top: 100px;
			}
		}

		ul {
			width: 100%;
			// max-width: 595px;
			padding: 0;
			// padding-left: 40px;
			list-style: none;
			margin: 0 auto;
			// display: table;
			@include box-sizing(border-box);
			// different media query for the 4grid -> 3grid transition
			@media (min-width : 900px) {
				// padding-left: 100px;
				// max-width: 1158px;
			}

			&:after {
			  content: "";
			  // display: table;
			  clear: both;
			}
		}

		li {
			width: 32%;
			// max-width: 124px;
			padding: 0 20px;
			// float: left;
			display: inline-block;
			text-align: center;
			// padding-right: 40px;
			@include box-sizing(border-box);
			// different media query for the 4grid -> 3grid transition
			@media (min-width : 900px) {
				// max-width: 124px;
				width: 24%;
				// padding-right: 100px;
			}

			a {
				display: block;
				text-indent: -99999px;
				width: 100%;
				height: auto;
				position: relative;

				float: left;

				padding: 0;
				border: 0;

				img {
					opacity: 1;
					@include transition-property(opacity);
					@include transition-duration(0.25s);
				}

				&:hover {
					img {
						opacity: .7;
					}
				}

				img {
					margin:0 auto;
	    			display:block;
					width: 100%;
					height: auto;
					max-width: 124px;
					@include box-sizing(border-box);
				}

			}

		}
	}

}

