footer {

	height: 30em;
	text-align: center;
	position: relative;
	overflow: hidden;

	header {

		padding: 6.6em 0 0;
		position: relative;

		h1 {
			color: #fff;
			padding: 0 .5em;
			line-height: 1.4;
			text-transform: uppercase;
			letter-spacing: .1em;

			.nowrap{

				white-space: nowrap;
			}
				span {
					display: inline-block;

					@include transition(transform 0);
					@include transition-delay(1s);
					@include translate(0, 12em);

					&.better, &.faster, &.stronger {
							@include transition-delay(1s);
					}

				}

		}

		h1 span span span, h2, p {
			font-size: 16px;
			color: #fff;
			font-weight: $heading-font-semi-bold;
			text-transform: uppercase;
			letter-spacing: 3px;
			padding: 0 .3em;
			line-height: 1.8;
			text-align: center;

			opacity: 0; //@include translate(0, 26em);
			@include transition(opacity .5s ease-out); //@include transition(transform .5s ease-out);
			@include transition-delay(1s);

			span {
				opacity: 0;
			}

			a {
				@include translate(0, 16em);
				@include transition(transform .5s ease-out);
				@include transition-delay(1s);
				display: inline-block;
			}
		}

		p {
			display: block;
			opacity: 0;
			top: 3em;
			position: absolute;
			width: 200%;
			text-align: right;
			white-space: nowrap;
		}

	}

	&.enabled {

		header {
			h1{
				span {

					@include transition(transform .2s linear);
					@include transition-delay(1s);
					@include translate(0, 0);

					&.better {
						@include transition-delay(2.2s);
					}

					&.faster {
						@include transition-delay(3.4s);
					}

					&.stronger {
						@include transition-delay(4.6s);
					}
				}
			}

			h2 {
				@include transition(opacity .6s ease-in); opacity: 1;//@include transition(transform .4s ease-in);
				@include transition-delay(8s);
				@include transition-timing-function(cubic-bezier(0,1,.8,1.12));
				@include translate(0);

				span {
					opacity: 1;
					@include transition(opacity .4s ease-out);
					@include transition-delay(9s);
				}

				a {
					color: $mint;
					@include translate(0, 0);
					@include transition(transform .2s ease-out);
					@include transition-delay(9.6s);

					&:hover, &:focus {
						color: $mint-dark;
					}
				}
			}

			p {
				opacity: 1;
				@include translate(-150%, 0);
				@include transition(transform 2s 0s linear, opacity .6s ease-out);
				@include transition-timing-function(cubic-bezier(.35,.91,1,.2));

				&.make {
					@include transition-delay(1s);
					@include translate(-135%, 0);
				}

				&.do {
					@include transition-delay(2s);
					@include translate(-120%, 0);
				}

				&.makes {
					@include transition-delay(3s);
					@include translate(-100%, 0);
				}
			}

			@media screen and (max-width: $mq-tablet-landscape) {

				p, p.make, p.do, p.makes {
					@include translate(-128%, 0);
				}
			}


		}

	}

}