/* game
   ========================================================================== */

#game {

	height: 100%;
	width: auto;
	background-color: rgb(54, 75, 86);

	h2 {
		color: #fff;
		margin-bottom: 20px;
		text-align: center;
	}

	.canvas-container {
		width: 665px;
		height: 100%;
		position: absolute;
		left: 50%;
		margin-left: -270px;
	}

	canvas {
		background-color: rgb(44, 60, 70);
		height: 800px;
		width: 525px;
		float: left;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 100px 0;
		background-color: rgba( 0, 0, 0, 0.7);
		color: white;
		display: none;

		&.enabled {
			display: block;
		}

		.content {
			width: 290px;
			margin: 0 auto;
		}


	}


	.result {
		margin-bottom: 20px;
		span {
			font-size: 65px;
			font-weight: 400;
			line-height: 65px;
			padding: 0 0 8px 0;
			display: block;
			width: 100%;
		}
		p {
			width: 50%;
			float: left;
			font-weight: $normal-font-light;
			height: 100px;
			font-size: 25px;
			@include box-sizing(border-box);
			text-align: center;
			margin: 0;
		}
	}
	.score {
		width: 120px;
		float: left;
		margin-left: 20px;
		img {
			float: left;
			margin-bottom: 20px;
		}
		span {
			font-size: 44px;
			line-height: 44px;
			padding: 0 0 8px 0;
			display: block;
			width: 100%;
		}
		p {
			width: 100%;
			float: left;
			font-weight: $normal-font-light;
			height: 75px;
			color: rgb(255, 255, 255);
			font-size: 21px;
			@include box-sizing(border-box);
			text-align: center;
			margin: 0 0 20px 0;
		}

	}
	button {
		padding: 0;
		margin: 0;
		background-color: transparent;

		&:hover {
			background: rgba(255, 255, 255, 0.9);
		}
	}

	.social {
		width: 100%;
		@include box-sizing(border-box);

		a {
			margin-left: 38px;
		}

		p {
			text-align: center;
			line-height: 20px;
			text-transform: uppercase;
			margin: 20px 0 0 0;
		}
	}

	fieldset {
		padding: 0;
	}

	input[type="text"] {
		height: 40px;
		line-height: 20px;
		padding: 5px 14px;
		font-size: 14px;
		border: none;
		margin: 0 0 20px 0;
		width: 100%;
		color: #fff;
		@include border-radius(5px);
		@include box-sizing(border-box);
		background-color: rgba(255, 255, 255, 0.2);
		&:focus{
 	   		outline: 0;
		}
	}

	ul, .result, form, li {
		width: 100%;
		float: left;
		@include box-sizing(border-box);
	}

	li {
		margin-bottom: 20px;
	}

	table {
		display: table;
		width: 260px;
		margin: 0 15px 40px 15px;

		td, th {
			text-align: left;
			padding: 10px;
			font-size: 14px;
			font-weight: 600;
			line-height: 21px;
			border-bottom:1px solid rgba(255, 255, 255, 0.9);
			border-left:1px solid transparent;
			border-right:1px solid transparent;
		}

		tr {
			width: 260px;
			&.active {
				border: 1px solid rgba(255, 255, 255, 0.9);
				border-top: none;
				background: rgba(255, 255, 255, 0.9);
				color: black;
				td {
					border: 0;
				}
			}
		}

		td:first-child, th:first-child {
			// width: 25px;
			width: 20px;
			text-align: right;
			// padding-left: 15px;
			padding-left: 0;
		}

		td:last-child, th:last-child {
			text-align: right;
			// padding-right: 15px;
			padding-right: 0;
		}
	}
}