/* Header
========================================================================== */
header{
	position: relative;
	background: $deep-blue;
	width: 100%;
	height: 90%;

	.header-content{
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../media/header-400.jpg');
		background-position: center top;
		background-size: cover;
		z-index: 20;
	}

	@include tablet-portrait-and-up {

		height: 70%;

		.header-content{
			background-image: url('../media/header-800.jpg');
		}
	}

	@include tablet-landscape-and-up {

		height: 90%;

		.header-content{
			position: fixed;
			height: 94%;
		}
	}

	@include desktop-and-up {

		height: 90%;

		.header-content{
			background-image: url('../media/header-1600.jpg');
		}
	}



	.arrow-wrap{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70px;
		display: table;
		overflow: hidden;
		z-index: 20;

		.background{
			display: table-cell;
			background: $base-background-color;
			height: 70px;
			width: auto;
			font-size:0;
		}

		.arrow{
			display: table-cell;
			background:transparent;
			height: 70px;
			width: 300px;
			position: relative;

			.left{
				width: 1000px;
				height: 1000px;
				position: absolute;
				top: 0;
				left: -825px;
				background: $base-background-color;
				@include border-top-right-radius(0);
				@include transition(.8s all);
			}

			.right{
				width: 1000px;
				height: 1000px;
				position: absolute;
				top: 0;
				right: -825px;
				background: $base-background-color;
				@include border-top-left-radius(0);
				@include transition(.8s all);
			}

		}
	}


	.logo{

		text-indent: -9999px;
		overflow: hidden;
		@include opacity(0);

		background: url(../images/studiostomp-logo/logo-205.png) no-repeat;
		background: none, url(../images/studiostomp-logo/logo.svg) no-repeat;
		left: 50%;
		top: 50%;
		position: absolute;
		background-size: 100% 100%;

		width: 205px;
		height: 85px;
		margin: -43px 0 0 -103px; // 70 pixels extra to the top for the arrow

		a{
			float:left;
			height: 100%;

			&:hover{
				text-decoration: none;
			}

		}

		@include tablet-portrait-and-up {
			width: 328px;
			height: 136px;
			margin: -138px 0 0 -164px; // 70 pixels extra to the top for the arrow
			background: url(../images/studiostomp-logo/logo-328.png) no-repeat;
		}

		@include desktop-and-beyond {
			width: 410px;
			height: 170px;
			margin: -135px 0 0 -205px; // 70 pixels extra to the top for the arrow
			background: url(../images/studiostomp-logo/logo-410.png) no-repeat;

		}

	}

	&.initialized{

		.arrow-wrap{

			.arrow{

				.left{
					@include border-top-right-radius(150px);
					@include transition(.8s all);
				}

				.right{
					@include border-top-left-radius(150px);
					@include transition(.8s all);
				}

			}
		}


		.logo{
			@include animation(fadeInUp, .8s);
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}

	}


}
