/* locatie
   ========================================================================== */

#location{
	padding: 0;
	min-height: 100%;
	height: auto;
	text-align: left;
	background-color: $location-blue;

	.l-wrap {
		padding: 40px;
		padding-top: 0;
	}

	h1 {
		color: #fff;
	}

	.button{
		&.full-width {
			margin: 0 0 20px 0;
			line-height: 1.5;
		}

		&.grapefruit {
			&:hover {
				color: $location-blue;
				background: $light;
				border: 1px solid $light;
			}
		}

		&.light {
			&:hover {
				color: $location-blue;
			}
		}
	}

	.phonenr {
		font-weight: $normal-font-bold;
		letter-spacing: 0.02em;
		border-width: 2px;
		color: #fff;
		padding-bottom: 0;
	}

	/* info mobile layout */
	.mobile{
		// background-color: $light;
		width: 100%;
		height: auto;

		//padding: 20px;
		padding-bottom: 34px;
		display: inline-block;
		@include box-sizing(border-box);

		.l-wrap {
			padding: 0 20px;
		}

		@include tablet-portrait-and-up{
			display: none;
		}

		p {
			color: #fff;
			padding: 20px 0;
		}

		.button{
			float: left;
			height: 100px;
			width: 50%;
			padding-top: 20px;
			position: relative;

			&:nth-of-type(2){
				border-left: 0px;
			}
			&:nth-of-type(3){
				border-top: 0px;
			}
			&:nth-of-type(4){
				border-top: 0px;
				border-left: 0px;
			}

			.text {
				position: absolute;
				width: 100%;
				text-align: center;
				bottom: 10px;
				left: 0;
			}
		}

	}

	/* tablet and up layout */
	.tablet-and-up {
		display: none;

		@include tablet-portrait-and-up{
			width: 33.33%;
			min-width: 400px;
			max-width: 560px;
			min-height: 100%;
			height: auto;
			display: block;
			float: left;
			z-index: $z-index-section;
			color: #fff;
			background-color: $location-blue;
			overflow: hidden;
			@include box-sizing(border-box);
			padding-bottom: 40px;
			padding-top: 0;
		}

		p{
			float: left;
			text-align: left;
			letter-spacing: 0;
			@include box-sizing(border-box);
		}
	}

	.contact-container {
		margin: 34px 0;
		width: 100%;
		height: 100px;
		float: left;
		overflow: hidden;
		position: relative;

		.button {
			min-width: 0;
			float: right;
			font-weight: 100;
			letter-spacing: 0.2em;
			//padding: 14px 8px;
			padding: 14px;

			position: absolute;
			right: 0;
			top: 0;
			bottom: 1px;
			.icon.top{
				margin: 8px auto 16px;
			}
		}

		@include desktop-and-beyond {
			p {
				line-height: 1.35em;
			}
			.button {
				padding: 14px 30px;
			}
		}

	}

	.img-container {
		margin: 0;
		width: 100%;
		height: 0;
		padding: 0 0 50% 0;
		overflow: hidden;

		img {
			width: 100%;
			opacity: 0.9;
		}
	}

	.mobile {
		.img-container {
			padding-top: 0;
		}
	}

	/* freshpot layout */
	.freshpot{
		// display: none;
		width: 100%;
		height: auto;
		padding: 30px;
		text-align: center;
		position: relative;
		z-index: $z-index-section;
		@include box-sizing(border-box);

		.svg-container{
			width: 100%;
			height: 157px;
			position:relative;
		}

		p{
			width: 100%;
			margin: 0;
			text-align: center;
			padding: 35px 0 0 0;

			a {
				padding-bottom: 2px;
				border-bottom: 1px dotted;
				border-bottom-color: inherit;

				&:hover {
					border-bottom: 1px solid;
				}
			}
		}

		svg {
			height: 137px;
			width: 115px;
			margin: 27px 0 40px 0;

			img {
				margin: 74px 0 0 13px;
				@include animation(coffeeWave, 2s, linear, 0s, infinite, normal);
			}
		}

		.coffee-wave {
			width: 116px;
			height: 131px;
			overflow: hidden;
			@include border-radius(115px);
			@include opacity(0.9);
			position: absolute;
			top: 23px;
			left: 50%;
			margin-left: -54px;


			img {
				width: auto;
				@include animation(coffeeWave, 2s, linear, 0s, infinite, normal);
			}
		}

		.freshpot-can{
			position: absolute;
			top: 0;
			margin: 0 0 0 -68px;
			left: 50%;
			width: auto;
		}
	}

}

/* Google Maps */
#gmaps{
	display: none;
	@include tablet-portrait-and-up{
		display: block;
		z-index: $z-index-base;
		height: 107%;

		.labels {
			margin: 35px 0 0 32px !important;
		}
	}

	@include tablet-landscape-and-up{
		.gmaps-controls-pos{
			position: relative;
			margin-top: 60px;
		}

		.map-loader {
			width: 100%;
			height: 100%;
			background: #000;
			background: rgba(0,0,0,.8);
			//background: rgba(46,162, 253,.8);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			display: none;

			img {
				width: 80px;
				height: 80px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -40px 0 0 -40px;
			}
		}
	}
}

.touch {
	#location{

		@include tablet-portrait-and-up{
			.tablet-and-up {
				padding-top: 0;
			}

			.freshpot{
				position: absolute;
				left: -25%;
				bottom: 5%;
				padding: 0;
			}
		}

		@include tablet-landscape-and-up{
			.freshpot{
				//position: relative;
				left: -30%;
				//padding: 30px;
			}
		}

		.svg-container {
			position: relative;
			zoom: 1;
			bottom: 0;
		}

		@media only screen and (max-width : 1024) and (max-height : 700){
			.svg-container {
				position: absolute;
				zoom: 0.7;
				bottom: 75%;
			}
		}
	}

	#gmaps {
		.gmaps-controls-pos{
			display: none;
		}
	}
}




