.proposition {
	width: 100%;
	height: 100%;
	background-image: url('../media/header-400.jpg');
	background-position: center top;
	background-size: cover;
	position: absolute;
	top: 0;
	background-attachment: fixed;
	@include opacity(0);

	@include tablet-portrait-and-up {
		background-image: url('../media/header-800.jpg');
	}

	@include desktop-and-up {
		background-image: url('../media/header-1600.jpg');
	}

	p {
		margin: 0;
		color: $light;
	}

	&.initialized {
		@include opacity(1);

		p {
			margin: 0 0 0 -237px;
			padding: 0;
			display: block;
			width: 546px;
			position: absolute;
			left: 50%;
			top: 100%;
			font-size: 3.3em;
			font-family: $heading-font;
			font-weight: $heading-font-thin;
			line-height: 1.4em;
			@include box-sizing(border-box);

			em {
				font-style: normal;
			}

			@include mobile-portrait-and-up {
				font-size: 2em;
				padding: 0 10%;
				width: 100%;
				left: 0;
				margin: 0;
				padding: 0 20px;
			}

			@include tablet-portrait-and-up {
				padding: 0 15%;
				font-size: 2.5em;
				font-weight: $heading-font-thin;
				width: 100%;
				left: 0;
				margin: 0;
				padding: 0 20px;
			}

			@include tablet-landscape-and-up {
				font-size: 3.3em;
				width: 546px;
				left: 50%;
				margin: 0 0 0 -273px;
				padding: 0;
				position: absolute;
			}

			span {
				display: block;
				@include opacity(0);
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -98px 0 0 15px;
				@include animation(rightBracket, 1s, ease, 0.3s);
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				animation-fill-mode: forwards;

				@include tablet-landscape-and-up {
					@include animation(rightBracketDesk, 1s, ease, 0.3s);
					-webkit-animation-fill-mode: forwards;
					-moz-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
				}

				&:first-child {
					margin: -98px 0 0 -15px;
					@include animation(leftBracket, 1s, ease, 0.3s);
					-webkit-animation-fill-mode: forwards;
					-moz-animation-fill-mode: forwards;
					animation-fill-mode: forwards;

					@include tablet-landscape-and-up {
						@include animation(leftBracketDesk, 1s, ease, 0.3s);
						-webkit-animation-fill-mode: forwards;
						-moz-animation-fill-mode: forwards;
						animation-fill-mode: forwards;
					}

				}
			}

			em {
				display: table-cell;
				@include opacity(0);
				vertical-align: middle;
				margin: 0 auto;
				font-style: normal;
				@include box-sizing(border-box);
				@include animation(fadeIn, 1s, ease-in, 0.7s);
				-webkit-animation-fill-mode: forwards;
					-moz-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
			}
		}
	}

}