/* services
   ========================================================================== */

   #services{
	background: $base-background-color;

	@include tablet-landscape-and-up {
		padding: 50px 50px 100px;
	}

	.content{
		width: 90%;
		height: 100%;
		max-width: 1600px;
		margin: 0 5%;

		@include tablet-landscape-and-up {
			width: 100%;
			margin: 0 auto;
			display: block;
		}
	}

	img{
		width: 50px;
		position: absolute;
		margin-top: -22px;
		right: 5%;

		display: none;

		@include tablet-portrait-and-up {
			display: block;
			position: relative;
			margin: -6px 0 0 3%;
			width: 80px;
			float: left;
		}

		@include tablet-landscape-and-up {
			margin: 0 0 30px -50px;
			width: 100px;
			left: 50%;
			float: none;
		}

		@include desktop-and-up {
			margin-bottom: 40px;
		}
	}

	h1{
		@include tablet-portrait-and-up {

		}

		@include tablet-landscape-and-up {
			margin: 0 5% 5%;
			//width: 90%;
			text-align: center;
		}

		@include desktop-and-beyond {
			width: 90%;
		}
	}

	.content {
		div {
			padding-top: 40px;
			float: left;
			display: inline-block;
			@include box-sizing(border-box);
		}

		@include tablet-portrait-and-up {

			div {
				padding-top: 5%;
				width: 50%;
			}

			.define, .develop {
				padding-right: 2.5%;
			}
			.design, .deliver {
				padding-left: 2.5%;
			}

			.define, .design {
				//padding-bottom: 5%;
			}

			.develop, .deliver {

			}


		}

		@include tablet-landscape-and-up {
		 	//width: 45%;
		 	//padding: 0px 25px 50px 25px;
		}

		@include desktop-and-up {
			.define, .design, .develop, .deliver{
				width: 25%;
				//padding-top: 0px;
				padding: 0 1% 50px;
			}
		}


		@include transition(al 0.5s);
	}

	&.initialised .content div {
		display: inline-block;
	}

}





