/* work
   ========================================================================== */

#work {
	background: $light;

	@include tablet-portrait-and-up {
		text-align: center;
	}

	h1 {
		margin-left: 5%;
		@include tablet-portrait-and-up {
			margin-left: 0;
		}
	}

	article {
		float: left;
		margin-bottom: 4em;

		@include tablet-portrait-and-up {
			width: 50%;
			margin-bottom: 2em;
			text-align: center;
		}

		@media only screen and (min-width : 750px) {
			width: 33.33%;
			margin-bottom: 0;
		}

		h1 {
			font-size: 1.875em;
			font-weight: $heading-font-light;
			margin-bottom: 0.3em;
			margin-left: 0;

			@include tablet-portrait-and-up {
				font-size: 1.4em;
			}

			@media only screen and (min-width : 600px){
				font-size: 1.5em;
			}

			@media only screen and (min-width : 700px){
				font-size: 1.75em;
			}

			@media only screen and (min-width : 835px){
				font-size: 1.4em;
			}

			@media only screen and (min-width : 891px){
				font-size: 1.5em;
			}

			@media only screen and (min-width : 970px){
				font-size: 1.6em;
			}

			@media only screen and (min-width : 1005px){
				font-size: 1.7em;
			}

			@media only screen and (min-width : 1040px){
				font-size: 1.75em;
			}
		}

		@media only screen and (min-width : 750px) and (max-width : 842px){
			&:first-of-type{
				h1 {
					padding: 0 11%;
				}
			}
		}
	}

	.description {
		position: relative;
		padding: 5%;
	}

	p {
		margin: 0;
		font-size: 0.875em;
		font-weight: $normal-font-semi-bold;
		text-transform: uppercase;
		margin-bottom: 0.3em;

		@media only screen and (min-width : 750px) and (max-width : 842px){
			letter-spacing: 0.01em;
		}
	}

	figure {
		width: 100%;
		padding-bottom: 100%;
		height: 0;
		display: block;
		overflow: hidden;
		position: relative;
	}

	img {
		width: 100%;
	}

	a {
		text-decoration: none;
		margin-left: 5%;
		position: relative;

		@include transition(background 0.15s ease-out, padding 0.25s ease-out);

		@include tablet-portrait-and-up {
			margin-left: 0;
		}

		&:hover, &:active {
			padding-right: 34px;
			&:after {
				content:' ';
				@include sprite(arrow-small-right-blue);
				position: absolute;
				right: 14px;
				top: 33%;
			}
		}
	}



	//.case {
		// &:hover {

		// 	// reset
		// 	// text-decoration: none;
		// 	// border-bottom: none;
		// 	// padding: 0;
		// 	// cursor: pointer;

		// 	.gradient {
		// 		opacity: 1;
		// 	}

		// 	img {
		// 		margin-top: 0%;
		// 		margin-left: 0%;
		// 		width: 101%;
		// 		@include transition-duration(0.4s);
		// 		@include transition-timing-function(cubic-bezier(.2, .6, .4, 1.4));
		// 	}
		// }
	//}

	// img {
	// 	width: 110%;
	// 	height: auto;
	// 	margin: -5%;
	// 	padding: -5%;
	// 	@include transition-property(all);
	// 	@include transition-duration(0.25s);
	// 	@include transition-timing-function(ease-out);
	// }

	// .gradient {
	// 	-webkit-transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);
	// 	-moz-transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);
	// 	-o-transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);
	// 	transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);

	// 	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
	// 	background-image: -webkit-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
	// 	background-image: -moz-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
	// 	background-image: -o-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
	// 	background-image: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));

	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;

	// 	opacity: 0;
	// }
}
