/* work
   ========================================================================== */

#work {
	padding: 100px 0 0;
	background-color: $base-background-color;

	.content {
		.wrapper {
			width: 100%;
			//background-color:rgba(50, 55, 60, 1);
			display: block;
			@include box-sizing(border-box);

			@include tablet-portrait-and-up {
				width: 100%;
				display: table;
				margin: 50px auto;
			}

			@include tablet-landscape-and-up {
				width: 100%;
				display: block;
				margin: 0;
				float: left;
				background-color:rgba(50, 55, 60, 1);
			}
		}
	}

	article {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		display: block;
		overflow: hidden;

		@include tablet-portrait-and-up {
			width: 50%;
			padding-bottom: 50%;
			margin-bottom: 0;
		}

		@include tablet-landscape-and-up {
			width: 33.33%;
			padding-bottom: 33.33%;
			margin-bottom: 0;
		}

		float: left;
		position: relative;
		@include box-sizing(border-box);

		.description {
			position: absolute;
			left:0;
			top: 0;
			height: 100%;
			//bottom:-5em;
			//background-color:rgba(50, 55, 60, 1);
			background-color:rgba(25, 29, 35, .9);
			//height: 4.6em;
			width: 101%;
			margin: 0;
			padding: 5% 17% 5% 5%;
			opacity: 0;
			//display: table;
			//table-layout:fixed;
			@include box-sizing(border-box);

			@include transition-property(bottom, height, opacity, background-color);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);

			@include desktop-and-up {
				//height: 4.4em;
				//padding: .6em 20px .4em;
			}

			@include tablet-landscape-and-below {
				//height: 4.3em;
			}

			h1 {
				text-align: left;
				margin-bottom: 0;
				font-size: 1.675em;
			}

			.toggle {
				position: absolute;
				right: 7%;
				top: 7%;
				//bottom: 0;
				//margin: 0 0 2em;

				.icon {
					//@include sprite(arrow-up);
					@include sprite(arrow-right-large);
				}
			}

		}
	}

	.case {

		.gradient {
			-webkit-transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);
			-moz-transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);
			-o-transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);
			transition: all 0.5s cubic-bezier(0, 0.91, 0.395, 1.3);

			background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
			background-image: -webkit-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
			background-image: -moz-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
			background-image: -o-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
			background-image: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));

			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			opacity: 0;
		}

		&:hover {
			text-decoration: none;
			border-bottom: none;
			padding: 0;
			cursor: pointer;

			.gradient, .description {
				opacity: 1;
			}

			img {
				margin-top: 0%;
				margin-left: 0%;
				width: 100%;
				@include transition-duration(0.4s);
				@include transition-timing-function(cubic-bezier(.2, .6, .4, 1.4));
			}
		}

		&.active .description {
			opacity: 1;
			//bottom: 0;
			//height: 100%;
			//background-color:rgba(24, 24, 26, 0.8);

			.toggle {
				.icon {
					//@include sprite(arrow-down);
				}
			}
		}
	}

	img {
		width: 110%;
		height: auto;
		margin: -5%;
		padding: -5%;
		float: left;
		@include transition-property(all);
		@include transition-duration(0.25s);
		@include transition-timing-function(ease-out);
	}


	p {
		margin: 0;
		//font-size: 0.643em;
		//font-weight: $normal-font-semi-bold;
		//text-transform: uppercase;

		@include box-sizing(border-box);

		//@include desktop-and-up {
			font-size: 0.786em;
		//}

		&.info{
			float: left;
			//font-weight: 300;
			font-style: normal;
			text-transform: none;
			margin: 5% 0 0;

		}
	}

	.arrow-right {
		background-image: url(../images/sprites-retina/arrow-right-large.png);
		width: 20px;
		height: 40px;
		background-size: 20px 40px;
		display: block;
		position: absolute;
		top: 50%;
		right: 25px;
		margin: -20px 0 0 0;

		@include tablet-landscape-and-up {
			width: 15px;
			height: 30px;
			background-size: 15px 30px;
			margin: -15px 0 0 0;
		}

		@include desktop-and-up {
			display: none;
		}
	}

	/*
		Javascript classes
	*/

	&.in-viewport {
		article {
			&:nth-of-type(1){
				@include animation(fadeInLeftBig, 1s);
			}

			&:nth-of-type(2){
				@include animation(fadeInUpBig, 1s);
			}

			&:nth-of-type(3){
				@include animation(fadeInRightBig, 1s);
			}

			display: block;

			div {
				@include animation(fadeInUpBig, 1.5s);
				//bottom: 0;
			}
		}

	}

	&.initialised {
		article {
			display: none;
		}

	}
	&.below-the-fold {
		article {

			@include animation(fadeInUp, 1s);

		}

	}
	&.above-the-top {
		article {

			@include animation(fadeInDown, 1s);

		}

	}
}