#play {
	.overlay {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		min-height: 100%;
		padding: 3% 0;
		@include box-sizing(border-box);

		background: rgba(24, 27, 30, 0.85);
		@include animation-basic(fadeIn, 0.35s, ease-in);

		text-align: center;

		h1 {
			margin-bottom: 2%;
		}

		@media only screen and (min-height: 700px){
			padding: 5% 0;
		}

		.content {
			width: 50%;
			min-width: 290px;
			max-width: 420px;
			margin: 0 auto;

			h2 {
				font-family: $normal-font;
				font-weight: $normal-font-semi-bold;
			}
		}

		&.devicerotate {
			.content {
				width: 100%;
				height: 100%;
			}
		}

		.flip-screen {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		&.phone {

			.flip-screen {
				background: url(../images/tetris-flip-phone.png) no-repeat center center;
			}

			button {
				min-height: 0;
			}

			.content {
				width: 90%;
				padding: 0;

				.status {
					margin: 10% 0;
				}
			}

			ul, ol {
				margin: 0;
			}
		}

		&.tablet {

			.flip-screen {
				background: url(../images/tetris-flip-tablet.png) no-repeat center center;

				@include retina{
					background: url(../images/tetris-flip-tablet-2x.png) no-repeat center center;
				}
			}
		}
	}
}