/* fletris gameover styles
   ========================================================================== */

#play {

	.gameover {

		//overflow: auto;

		.status, form, ul, li {
			width: 100%;
			@include box-sizing(border-box);
		}

		.status {
			margin: -5% auto;

			@media only screen and (min-height: 700px){
				margin: 5% auto;
			}

			p {
				width: 50%;
				float: left;
			}

			span {
				font-size: 3.5em;
			}
		}

		ul {
			list-style: none;
		}

		li {
			float: left;
			margin: 2% 0;
		}

	}

	.social {
		.button {
			padding: 0;
			margin: 0 10px;
		}

		h3 {
			opacity: 0.25;
			float: left;
			margin: auto;
			width: 100%;
		}
	}

	.submit-score {
		float: left;
		margin-top: 2%;

		fieldset {
			margin: 0;
			padding: 0;

			&.error{
				@include animation-basic(shake, 1s);
			}

			input, button {
				margin: 2% 0;
			}
		}

		input[type="text"] {
			float: left;
			width: 70%;
			height: 44px;
			padding: 5px 14px;

			background-color: transparent;

			border: 1px solid $light;
			border-right: 0;
			@include box-sizing(border-box);
			@include border-radius(0);

			color: $light;
			line-height: 20px;
			font-size: 14px;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			&:focus{
	 	   		outline: 0;
	 	   		background-color: transparent;
			}
		}

		button {
			width: 30%;
			height: 44px;
			min-width: 0;
			padding: 0;

			line-height: 0;
			font-size: 12px;
		}
	}

	.gameover.phone {
		p {
			font-size: 0.875em;
		}

		span {
			font-size: 2.5em;
		}

		.status {
			margin: 0;
		}

		.submit-score {
			margin-top: 10px;
			input[type="text"], button {
				height: 38px;
			}
		}
	}

	.gameover.tablet {

		li {
			margin: 4%ss 0;
		}

		fieldset{
			input, button {
				margin: 4% 0;
				@include border-radius(0);
			}
		}
	}

}