/* fletris highscores styles
   ========================================================================== */

#play .highscoreslist{
	padding: 0;
	margin: 0 0 34px;
	list-style: none;

	li{
		width: 92%;
		margin: 0 4%;
		text-align: left;
		border-bottom: 1px dotted #fff;
		border-bottom: 1px dotted rgba(255,255,255, 0.3);
		height: 32px;
		line-height: 32px;
		font-family: $normal-font;
		font-size: .9em;
		font-weight: $normal-font-bold;
		@include box-sizing('border-box');
		text-transform: uppercase;
		color: #c5c6c6;
		clear: both;

		&.current{
			color: #fff;
			font-size: 1.1em;
			width: 100%;
			margin: 0;
			border: 1px solid #fff;
			padding: 0 10px;
			line-height: 34px;
			height: 34px;
		}

		.points{
			float: right;
			white-space: nowrap;
		}
	}
}