/* fletris controls styles
   ========================================================================== */

#play {
	// container for next-shape table
	.preview {
		position: relative;
		width: 100px;
		height: 100px;
		margin: auto;
	}

	// next-shape preview box
	.next-shape {
		position: absolute;
		width: 100px;
		height: 100px;

		/* fix to align next-shape table to other content: */
		//	The table initially holds 4 rows and 4 columns that contain all shapes.
		//	Some shapes actually fill 3 columns and/or 3 rows which prevents correct horizontal aligning and vertical positioning with other elements.

		&.next-shape.three-columns {
			width: 75px;
			left: 12px;
		}

		&.next-shape.three-rows {
			height: 75px;
			bottom: 0;
		}

		// same cell border color as background creates a gutter in tetris shapes
		.block { border: 2px solid $tetris-background-color; }
	}

	// container for scores display
	.status {
		margin: 30px auto;

		p {
			display: block;
			width: 100%;

			font-family: $normal-font;
			font-weight: $normal-font-semi-bold;
			font-size: 1em;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			line-height: normal;
		}

		span {
			display: block;
			font-family: $normal-font;
			font-weight: $normal-font-normal;
			font-size: 2.5em;
			letter-spacing: 0;
		}
	}

	.speaker {

		text-indent: -999px;
		border: 0;
		display: block;
		margin: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		padding: 0;
		width: 64px;
		height: 64px;
		min-width: 0;

		&:hover, &.active {
			background: transparent;
		}

		&:after{
			content:'';
			position: absolute;
			top: 11px;
			left: 12.5%;
		}

		&.muted {
			&:after {
				@include sprite('audio-muted-outline');
			}
		}

		&.unmuted{
			&:after {
				@include sprite('audio-unmuted-outline');
			}
		}
	}

	.aside {
		position: absolute;
		top: 0;

		// temp position; this will be overriden by javascript
		left: 50%;
		margin-left: 170px;
		padding: 20px 40px;
		//height: 100%;

		// normalize text styles
		text-align: center;
		line-height: normal;

		// smoothly move on game grid size initializing
		//@include transition(all 0.35s);

		// container for score and buttons
		.controls {
			margin: 20px 0 40px;
		}

		// The legend element contains content providing visual queues to the player
		legend {
			margin: auto 6px;
			opacity: .65;

			.feedback {
				position: relative;
				width: 108px;
				margin: auto;

				&.up {
					.keyup { opacity: 1; }
				}
				&.down {
					.keydown { opacity: 1; }
				}
				&.left {
					.keyleft { opacity: 1; }
				}
				&.right {
					.keyright { opacity: 1; }
				}
			}

			.keyup, .keydown, .keyleft, .keyright{
				font-size: 1rem;
				width: 35px;
				height: 35px;
				display: block;
				margin: 1px 1px 0 0;
				float: left;

				padding-top: 7px;
				@include box-sizing(border-box);

				color: $dark;
				background: #fff;
				@include border-radius(3px);

				opacity: 0.35;
				@include transition(opacity, 0.2s);

				pointer-events: none;

			}

			.keyup { margin: 0 36px; padding-top: 6px; }
			.keydown { padding-top: 8px; }
			.keyleft { font-size: 1.4rem; line-height: 0.8; padding-right: 2px;}
			.keyright { padding-left: 2px; }

		}

		// underline first letter of button with actions corresponding to keyboard shortcuts
		button[data-control]{
			padding: 12px 20px 9px;

			&:first-letter{
				display: inline-block;
				border-bottom: 2px solid rgba(254, 254, 253, 0.9);
			}

			&:hover, &.active {
				&:first-letter {
					border-bottom: 2px solid rgba(54, 75, 86, 0.9);
				}
			}
		}

	}

	.touch {

		// prevent selectable elements for touch devices
		button, p, span, h1, h2, h3, .game-container, .game-grid {
			-webkit-user-select: none;
					-khtml-user-select: none;
						-moz-user-select: none;
							-o-user-select: none;
								user-select: none;
		}

		-webkit-user-select: none;
			-khtml-user-select: none;
				-moz-user-select: none;
					-o-user-select: none;
						user-select: none;

		// custom styles for touch aside and buttons

		.aside, .thumb-controls {
			button {
				min-width: 0;
				@include border-radius(100%);
			}
		}

		// reset button first letter style
		button[data-control]{
			//padding: 11px 20px 9px;
			&:first-letter{
				display: inline;
				border-bottom: 0;
			}

			&:hover, &.active {
				&:first-letter {
					border-bottom: 0;
				}
			}
		}

		.aside {
			right: 0;
			left: initial;
			margin: 0;
			padding: 20px 0px;

			button {
				width: 109px;
				//height: 109px;
				@include border-radius(59px);
			}

			.speaker {
				height: 64px;
				z-index: 10;
				left: 25%;
				position: relative;
				background: transparent;
			}


			@include transition(right, 0.3s);
		}

		.next-shape{
			.block { border: 2px solid $tetris-border-color-mobile; }
		}
	}

	.thumb-controls {
		div {
			position: absolute;
			bottom: 10%;
		}

		ul {
			list-style: none;
		}

		button {
			text-indent: -999px;

			width: 72px;
			height: 72px;

			@include transition(background-color 0.35s);

			&.tap {
				border: 1px solid rgba(255, 255, 255, 0);
				background-color: rgba(255, 255, 255, 0.85);
			}

			&:hover, &:active, &:focus{
				border: 1px solid rgba(255, 255, 255, 0.9);
				background-color: transparent;

				&.tap {
					border: 1px solid rgba(255, 255, 255, 0);
					background-color: rgba(255, 255, 255, 0.85);
				}
			}
		}

		.move-left{
			@include sprite(tetris-arrow-tap-left);
			&.tap {
				@include sprite(tetris-arrow-tap-left-active);
			}
		}
		.move-right{
			@include sprite(tetris-arrow-tap-right);
			&.tap {
				@include sprite(tetris-arrow-tap-right-active);
			}
		}
		.move-down{
			@include sprite(tetris-arrow-tap-down);
			&.tap {
				@include sprite(tetris-arrow-tap-down-active);
			}
		}
		.rotate{
			@include sprite(tetris-arrow-tap-rotate);
			&.tap {
				@include sprite(tetris-arrow-tap-rotate-active);
			}
		}
	}

	.tablet .thumb-controls {
		.left {
			@include rotate(30deg);
			left: 4%;
		}

		li {
			float: left;
		}

		.right {
			right: 12%;
			bottom: 16%;

			@include tablet-landscape-and-up {
				right: 18%;
			}

			// fix for small tablets landscape
			@media only screen
				and (min-width : 604px)
				and (orientation : landscape) {
					right: 12%;
					bottom: 6%;
			}
		}

		li {
			margin: 0 30px;
			&:last-child {
				clear: left;
				display: block;
				margin: 0 0 0 90px;
			}
		}
	}

	.phone {
		.thumb-controls {
			position: absolute;
			bottom: 6%;
			left: 0;
			right: 0;

			ul {
				text-align: center;
				margin-top: -10%;
			}

			li {
				margin: 0 13%;
				float: none;
				display: inline-block;
			}
		}
	}

	// smartphone header
	header {
		width: 100%;
		height: 50px;
		margin: 0 auto;
		background: transparent;

		// custom scores display
		.status {
			position: absolute;
			margin: 0;
			right: 5px;
			width: 36%;

			p {
				width: 50%;
				float: left;
				margin: 10px 0;
				line-height: 1.5em;
				font-size: 0.675em;

				span {
					font-size: 1.75em;
				}
			}
		}

		.controls {
			position: absolute;
			margin: 7px 0 0 15px;
		}

		.preview {
			position: absolute;
			left: 0;
			right: 0;
			width: 40px;
			height: 40px;
		}

		// next-shape preview box
		.next-shape {
			width: 40px;
			height: 40px;
			right: 0;

			/* fix to center position next-shape table:
				The table initially holds 4 rows and 4 collumns to support all shapes.
				Some shapes use 1, 2 or 3 columns / rows which prevents correct horizontal aligning and vertical positioning with other elements.
			*/
			&.next-shape.three-columns {
				width: 30px;
				left: 0;
				top: 6px;
			}

			&.next-shape.three-rows {
				height: 30px;
				top: 8px;
			}
			// same cell border color as background creates a gutter in tetris shapes
			tr, td { border: 1px solid $tetris-border-color-mobile; }
		}

		button, .speaker {
			float: left;
			min-width: 0;
			min-height: 0;
			text-indent: -999px;
			padding: 0;
			border: 0;
			background: transparent;
			position: relative;

			width: 36px;
			height: 36px;

			@include transition(opacity 0.25s);

			&:after{
				content:'';
				position: absolute;
				top: 10px;
				left: 9px;
			}

			&.play-pause {
				&:after {
					@include sprite('tetris-pause-phone');
				}
			}

			&.play, &.resume{
				&:after {
					@include sprite('tetris-play-phone');
				}
			}

			&.muted {
				&:after {
					top: 11px;
					@include sprite('audio-muted');
				}
			}

			&.unmuted{
				&:after {
					top: 11px;
					@include sprite('audio-unmuted');
				}
			}

			&:hover, &:active, &.active {
				background: transparent;
				opacity: 0.6;
				border: 0;
			}
		}
	}

	.tablet, .phone {
		.block{ border: 2px solid $tetris-border-color-mobile; }
	}


}