/* fletris game styles
   ========================================================================== */

$tetris-background-color: #364b56; //#395c6b;
$tetris-border-color: #445e6c;
$tetris-border-color-mobile: rgba(55, 93, 111, 0);

// keyframe animation for completed rows (flickering animation)
@-webkit-keyframes row-complete {
	0%   { background: $light; }
	100% { background: $tetris-border-color; }
}

#play{
	padding: 0;
	-webkit-transform: translate3d(0,0,0);

	//position: fixed;
	position: relative;
	width: 100%;
	height: 100%;
	background: $tetris-background-color;

	table, tr, td, legend {
		@include box-sizing(border-box);
	}

	// Set colors for tetris shapes
	.cell-1 { background: $lavander; }
	.cell-2 { background: $blue-jeans; }
	.cell-3 { background: $grapefruit; }
	.cell-4 { background: $mint; }
	.cell-5 { background: $bittersweet; }
	.cell-6 { background: $grass; }
	.cell-7 { background: $sunflower; }

	.game-grid {
		width: 340px;
		height: 612px;

		position: absolute;
		left: 50%;
		margin-left: -50%;
		right: 0;

		//@include translateX(-50%);
		//@include transition(all 0.35s);

		table {
			width: 100%;
			height: 100%;
			position: absolute;
		}

		// custom class for completed rows
		.cell-8 {
			border: inherit;
			background: transparent;
			-webkit-animation: row-complete 0.2s infinite; /* Safari 4+ */
			  -moz-animation: row-complete 0.2s infinite; /* Fx 5+ */
			 	-o-animation: row-complete 0.2s infinite; /* Opera 12+ */
			  		animation: row-complete 0.2s infinite; /* IE 10+ */
		}

		// provide a grid of dotted lines as visual aid
		.cell-0 {
			border: 2px dotted $tetris-border-color;

			// solid border creates gutters in tetris shapes
		}
		.block:not(.cell-0) { border: 2px solid $tetris-background-color; }

	}

	.tablet, .phone {
		height: 100%;

		//background-color: #32373c;
		//@include background-image(linear-gradient(top, rgba(79, 193, 233, .3) 0%, rgba(59, 175, 218, .3) 20%, rgba(71,197,187, .3) 80%, rgba(55,188,155, .3) 100%));

		background-color: #3a6070;
		@include background-image(linear-gradient(top,
			#3b6170 0%,
			#375d6f 30%,
			#345c64 70%,
			#345f5c 100%)
		);

		.game-grid {
			//smartphone styles:
			background: url(../images/tetris-background-pattern.png) repeat-y;
			background-size: 100% auto;

			//@include retina{
			//	background: url(../images/tetris-background-pattern-2x.png);
			//}
			.block{ border: 2px solid $tetris-border-color-mobile; }
		}

	}

	.phone {
		.game-grid {
			margin-top: 50px;
		}
	}

	.blur {
		@include transition(-webkit-filter 0.35s);
		-webkit-filter: blur(5px);
	}
}

.touch.mobile #play {
	//.game-container{
		// iphones only (met z'n browser bars)
		@media only screen and (device-width: 320px) and (orientation: portrait) {
			height: 116%;
		}
	//}

}