/* fletris message styles
   ========================================================================== */
#play{

	.message-container{
		width: 100%;
		height: 100%;
		position: absolute;

		vertical-align: middle;


		display: none;

		&.fadeIn{
			display: block;
			@include animation-basic((bounceIn, fadeIn), (1s, 1.5s), (ease, ease-in));
		}

		&.fadeOut{
			display: none;
			@include animation-basic((bounceOut, fadeOut), (1s, 1.5s), (ease, ease-in));
		}

		.message{
			position: absolute;
			width: 100%;
			height: 60px;
			text-align: center;
			top:50%;
			left:0;
			color: #fff;
			font-size: 4em;
			margin-top: -30px;

			font-weight: $heading-font-light;
		}
	}

	.phone {
		.message-container{
			top: 0;
			margin-top: -30%;

			.message {
				font-size: 2.5em;
			}
		}
	}
}