/* fletris submitted styles
   ========================================================================== */
#play {

	.submitted{

		h2{
			padding-bottom: 4%;
		}

		ul {
			list-style: none;

			li {
				margin: 2% 0;
			}
		}

		p{
			margin: 4% 0 0;
			padding-bottom: 2%;
			font-size: .75em;
			width: 100%;
			border-bottom: 1px solid #333;
		}


		.highscorelist{
			text-align: left;
			margin-bottom: 4%;

			li{

				height: 60px;
				display: block;

				.rank{
					font-size: 3.5em;
					font-family: $heading-font;
					font-weight: $heading-font-thin;
					line-height: 60px;
					float: left;
					width: 70px;
					text-align: center;
				}


				.user{
					height: 60px;


					@include box-sizing('border-box');
					padding-left: 10px;

					float: left;

					.username{
						float: left;
						font-size: 1.2em;
						line-height: 20px;
						margin-top: 15px;
						display: block;
					}

					.score{
						float: left;
						width: 90%;
						font-size: .85em;
						line-height: 20px;
						color: #bbb;
					}
				}


			}


		}
	}

}