/* fletris message styles
   ========================================================================== */
#play{

	.intro{
		display: block;
		width: 100%;
		height: 100%;

		@include box-sizing('border-box');

		padding: 25% 20px 100%;

		@include tablet-portrait-and-up {
			padding-top: 25%;
		}

		@include tablet-landscape-and-up {
			padding-top: 12.5%;
		}

		background-color: rgba(24, 27, 30, 1);

		text-align: center;

		.button {
			font-size: 1.05em;
			padding: 15px 40px 14px;
			border: 2px solid chartreuse;
			@include border-radius(40px);
			background: chartreuse;
			color: black;

			@include transition(all 0.25s);

			margin-top: 10%;

			@include tablet-portrait-and-up {
				margin-top: 5%;
			}

			&:hover, &:active {
				background: transparent;
				color: chartreuse;
			}
		}
	}
}
