@mixin coffeeWave($prefix) {
	0% {
		margin: 74px 0 0 0;
	}
	100% {
		margin: 74px 0 0 -73px;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes coffeeWave { @include coffeeWave(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes coffeeWave { @include coffeeWave(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes coffeeWave { @include coffeeWave(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes coffeeWave { @include coffeeWave(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes coffeeWave { @include coffeeWave(o); }
}
@keyframes coffeeWave { @include coffeeWave(none); }

.coffeeWave {
  @include animation-name(coffeeWave);
}
