@mixin devices($prefix) {
	0% {
		background-position: 0 0%;
	}
	100% {
		background-position: 0 -69%;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes devices { @include devices(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes devices { @include devices(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes devices { @include devices(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes devices { @include devices(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes devices { @include devices(o); }
}
@keyframes devices { @include devices(none); }

.devices {
  @include animation-name(devices);
}
