@mixin lyrics($prefix) {
	0% {
		width: 300px;
	100% {
		width: 600px;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes lyrics { @include lyrics(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes lyrics { @include lyrics(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes lyrics { @include lyrics(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes lyrics { @include lyrics(ms); }
}
@if $experimental-sulyricspport-for-opera {
  @-o-keyframes lyrics { @include lyrics(o); }
}
@keyframes lyrics { @include lyrics(lyrics); }
}
// footer h1 span {
//   @include animation-name(lyrics);
//   @include animation-duration(1s);
//   background: olive;
// }