@mixin leftBracket($prefix) {
	0% {
		@include opacity(0);
	}
	25% {
		@include opacity(1);
	}
	35% {
		margin: -98px 0 0 -15px;
		@include opacity(1);
	}
	100% {
		margin: -98px 0 0 -312px;
		@include opacity(1);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes leftBracket { @include leftBracket(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes leftBracket { @include leftBracket(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes leftBracket { @include leftBracket(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes leftBracket { @include leftBracket(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes leftBracket { @include leftBracket(o); }
}
@keyframes leftBracket { @include leftBracket(none); }

.leftBracket {
  @include animation-name(leftBracket);
}
