@mixin logoToTop($prefix) {
	0% {
		margin: -73px 0 0 -140px;
		top: 50%;
		width:280px;
		height: 131px;
		@include opacity(1);
	}
	40% {
		margin: -73px 0 0 -140px;
		top: 35%;
		width:280px;
		height: 131px;
		@include opacity(0);
	}
	50% {
		margin: 0 0 0 -54px;
		top: 130px;
		width: 150px;
		height: auto;
		@include opacity(0);
	}
	100% {
		margin: 0 0 0 -54px;
		top: 130px;
		width: 150px;
		height: auto;
		@include opacity(1);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes logoToTop { @include logoToTop(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes logoToTop { @include logoToTop(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes logoToTop { @include logoToTop(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes logoToTop { @include logoToTop(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes logoToTop { @include logoToTop(o); }
}
@keyframes logoToTop { @include logoToTop(none); }

.logoToTop {
  @include animation-name(logoToTop);
}

@mixin logoToTopDesk($prefix) {

	0% {
		margin: -73px 0 0 -140px;
		top: 50%;
		width:280px;
		height: 131px;
		@include opacity(1);
	}
	40% {
		margin: -73px 0 0 -140px;
		top: 35%;
		width:280px;
		height: 131px;
		@include opacity(0);
	}
	50% {
		top: 125px;
		width: 190px;
		margin: 0 0 0 -69px;
		height: auto;
		@include opacity(0);
	}
	100% {
		top: 125px;
		width: 190px;
		margin: 0 0 0 -69px;
		height: auto;
		@include opacity(1);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes logoToTopDesk { @include logoToTopDesk(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes logoToTopDesk { @include logoToTopDesk(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes logoToTopDesk { @include logoToTopDesk(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes logoToTopDesk { @include logoToTopDesk(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes logoToTopDesk { @include logoToTopDesk(o); }
}
@keyframes logoToTopDesk { @include logoToTopDesk(none); }

.logoToTopDesk {
  @include animation-name(logoToTopDesk);
}