@mixin logoText($prefix) {
	0% {
		width: 280px;
		font-size: 16px;
		letter-spacing: 3px;
		font-weight: $heading-font-medium;
	}
	40% {
		width: 280px;
		font-size: 16px;
		letter-spacing: 3px;
		font-weight: $heading-font-medium;
	}
	50% {
		width: 150px;
		font-size: 9px;
		letter-spacing: 0.17em;
		font-weight: $heading-font-semi-bold;
	}
	100% {
		width: 150px;
		font-size: 9px;
		letter-spacing: 0.17em;
		font-weight: $heading-font-semi-bold;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes logoText { @include logoText(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes logoText { @include logoText(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes logoText { @include logoText(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes logoText { @include logoText(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes logoText { @include logoText(o); }
}
@keyframes logoText { @include logoText(none); }

.logoText {
  @include animation-name(logoText);
}

@mixin logoTextDesk($prefix) {
	0% {
		width: 280px;
		font-size: 16px;
		letter-spacing: 3px;
		font-weight: $heading-font-medium;
	}
	40% {
		width: 280px;
		font-size: 16px;
		letter-spacing: 3px;
		font-weight: $heading-font-medium;
	}
	50% {
		width: 190px;
		font-size: 11px;
		letter-spacing: 0.17em;
		font-weight: $heading-font-semi-bold;
	}
	100% {
		width: 190px;
		font-size: 11px;
		letter-spacing: 0.17em;
		font-weight: $heading-font-semi-bold;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes logoTextDesk { @include logoTextDesk(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes logoTextDesk { @include logoTextDesk(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes logoTextDesk { @include logoTextDesk(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes logoTextDesk { @include logoTextDesk(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes logoTextDesk { @include logoTextDesk(o); }
}
@keyframes logoTextDesk { @include logoTextDesk(none); }

.logoTextDesk {
  @include animation-name(logoTextDesk);
}