@mixin logoWidth($prefix) {
	0% {
		height: 109px;
	}
	50% {
		height: 109px;
	}
	60% {
		height: 80px;
	}
	100% {
		height: 80px;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes logoWidth { @include logoWidth(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes logoWidth { @include logoWidth(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes logoWidth { @include logoWidth(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes logoWidth { @include logoWidth(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes logoWidth { @include logoWidth(o); }
}
@keyframes logoWidth { @include logoWidth(none); }

.logoWidth {
  @include animation-name(logoWidth);
}