@mixin logoWidth($prefix) {
	0% {
		width: 280px;
		height: 109px;
	}
	40% {
		width: 280px;
		height: 109px;
	}
	50% {
		width: 100%;
		height: 48px;
	}
	100% {
		width: 100%;
		height: 48px;
	}

	@include desktop-and-up {

			0% {
				width: 280px;
				height: 109px;
			}
			40% {
				width: 280px;
				height: 109px;
			}
			50% {
				width: 100%;
				height: 60px;
			}
			100% {
				width: 100%;
				height: 60px;
			}
		}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes logoWidth { @include logoWidth(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes logoWidth { @include logoWidth(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes logoWidth { @include logoWidth(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes logoWidth { @include logoWidth(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes logoWidth { @include logoWidth(o); }
}
@keyframes logoWidth { @include logoWidth(none); }

.logoWidth {
  @include animation-name(logoWidth);
}

@mixin logoWidthDesk($prefix) {

	0% {
		width: 280px;
		height: 109px;
	}
	40% {
		width: 280px;
		height: 109px;
	}
	50% {
		width: 100%;
		height: 60px;
	}
	100% {
		width: 100%;
		height: 60px;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes logoWidthDesk { @include logoWidthDesk(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes logoWidthDesk { @include logoWidthDesk(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes logoWidthDesk { @include logoWidthDesk(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes logoWidthDesk { @include logoWidthDesk(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes logoWidthDesk { @include logoWidthDesk(o); }
}
@keyframes logoWidthDesk { @include logoWidthDesk(none); }

.logoWidthDesk {
  @include animation-name(logoWidthDesk);
}