@mixin rightBracket($prefix) {
	0% {
		@include opacity(0);
	}
	25% {
		@include opacity(1);
	}
	35% {
		margin: -98px 0 0 15px;
		@include opacity(1);
	}
	100% {
		margin: -98px 0 0 275px;
		@include opacity(1);
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes rightBracket { @include rightBracket(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes rightBracket { @include rightBracket(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes rightBracket { @include rightBracket(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes rightBracket { @include rightBracket(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes rightBracket { @include rightBracket(o); }
}
@keyframes rightBracket { @include rightBracket(none); }

.rightBracket {
  @include animation-name(rightBracket);
}
